<div ng-controller="addwalletController as addw" ng-init="addw.step = 'addwallet'">
        <!--创建钱包-创建钱包信息  start-->
        <div class="addwcontent" ng-if="addw.step == 'addwallet'">
            <nav class="tab-bar">
                <section class="left-small">
                    <a ng-click="$root.go('walletHome')">
                        <img src="./img/chatbackstate.png" />
                    </a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title ellipsis" translate>
                        Create new wallet
                    </h1>
                </section>
            </nav>
            <div class="f9fafch"></div>
            <div class="addwcontentin">
                <div class="fleximgtext">
                    <img src="./img/warn.png">
                    <div translate class="redcolor size-12">The password is used to protect the private key and transaction authorization, and the strength is very important!</div>
                </div>
                <div class="fleximgtext">
                    <img src="./img/warn.png">
                    <div translate class="redcolor size-12">InterValue does not store passwords and cannot be retrieved for you. Please keep in mind!</div>
                </div>
                <form name="creatwform" novalidate>
                    <div class="adinputitem">
                        <div class="adinputic">
                            <div class="adinputimg addwname"></div>
                            <input type="text" ng-model="addw.addwname" ng-attr-placeholder="{{'Wallet name'|translate}}" autocomplete="off">
                        </div>
                    </div>
                    <div class="adinputitem">
                        <div class="adinputic" mdinputvalidc>
                            <div class="adinputimg addwpass"></div>
                            <input type="password" name="addwpass" ng-model="addw.addwpass" mdinputpass ng-attr-placeholder="{{'Password'|translate}}" autocomplete="off">
                        </div>
                    </div>
                    <div class="adinputitem">
                        <div class="adinputic" mdinputvalidc>
                            <div class="adinputimg addwrpass"></div>
                            <input type="password" name="addwrpass" ng-model="addw.addwrpass" mdinputpass ng-attr-placeholder="{{'Repeat password'|translate}}" autocomplete="off">
                            <p class="adinputp" translate>*Inconsistent password</p>
                        </div>
                    </div>
                    <button class="m40t m15b" ng-click="addw.passequal()" ng-disabled="!addw.addwname || !addw.addwpass || !addw.addwrpass" translate>Creat wallet</button>
                    <button class="awbtn m15b" ng-click="$root.go('import');index.signatureAddr = '';">Import wallet</button>
                </form>
            </div>
        </div>
        <!--创建钱包-创建钱包信息  end-->
        <!--创建钱包-显示钱包口令  start-->
        <div class="addwcontent" ng-if="addw.step == 'showcode'" ng-init="addw.funReg()">
            <nav class="tab-bar">
                <section class="left-small">
                    <a ng-click="addw.step = 'addwallet'">
                        <img src="./img/chatbackstate.png" />
                    </a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title ellipsis" translate>
                        Backup mnemonic
                    </h1>
                </section>
            </nav>
            <div class="f9fafch"></div>
            <div class="addwcontentin">
                <img class="warnbigimg" src="./img/warnbig.png" />
                <p class="center redcolor m28b" translate>Please do not take a screenshot and copy your wallet password.</p>
                <p class="center size-11" translate>The password is used to restore the wallet, write it accurately on paper, and save it where you only know it.</p>
                <div class="addwscbox m28b">
                    <span ng-repeat="item in addw.showcodes track by $index">{{item.str}}</span>
                </div>
                <button ng-click="addw.step = 'selectcode'">下一步</button>
            </div>
        </div>
        <!--创建钱包-显示钱包口令  end-->
        <!--创建钱包-选择钱包口令  start-->
        <div class="addwcontent" ng-if="addw.step == 'selectcode'">
            <nav class="tab-bar">
                <section class="left-small">
                    <a ng-click="addw.step = 'showcode'">
                        <img src="./img/chatbackstate.png" />
                    </a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title ellipsis" translate>
                        Backup mnemonic
                    </h1>
                </section>
            </nav>
            <div class="f9fafch"></div>
            <div class="addwcontentin">
                <img class="warnbigimg" src="./img/warnbig.png" />
                <p class="center redcolor m28b" translate>Confirm your mnemonic</p>
                <p ng-show="addw.showcodeerr">口令不正确</p>
                <div>
                    <div class="addwslcbox m24b" ng-click="addw.minuswordf($event)">
                        <span ng-repeat="item in addw.chosenWords track by $index" id="{{item.id}}" >{{item.str}}</span>
                    </div>
                    <div class="wordsbox m12b" ng-click="addw.addwordf($event)">
                        <button ng-repeat="item in addw.showrandamcodes track by $index" id="{{item.id}}" ng-disabled="item.chosen">{{item.str}}</button>
                    </div>
                </div>
                <button ng-click="addw.step = 'showcode'" translate>Last step</button>
            </div>
        </div>
        <!--创建钱包-选择钱包口令  end-->
        <!--创建钱包-删除口令  start-->
        <div class="addwcontent" ng-if="addw.step == 'deletecode'">
            <nav class="tab-bar">
                <section class="middle tab-bar-section">
                    <h1 class="title ellipsis" translate>
                        Backup mnemonic
                    </h1>
                </section>
            </nav>
            <div class="f9fafch"></div>
            <div class="addwcontentin">
                <img class="warnbigimg" src="./img/warnbig.png" />
                <p class="center redcolor m28b" translate>Confirm your mnemonic</p>
                <div class="addwslcbox m15b">
                    <span ng-repeat="item in addw.showcodes track by $index" id="{{item.id}}" >{{item.str}}</span>
                </div>
                <p class="center redcolor m35b">Your password is correct. To ensure the security of your wallet, we recommend that you delete your password.</p>
                <button class="m20b" ng-click="addw.showconfirm = true;" translate>Delete mnemonic</button>
                <button class="awbtn" ng-click="addw.addWallet(addw.addwname, addw.addwpass, addw.mnemonic);" translate>Skip</button>
                <div ng-if="addw.showconfirm" class="popconfirm">
                    <div class="popmask" ng-click="addw.showconfirm = false;"></div>
                    <div class="popcontent">
                        <div class="fleximgtextc m20b p25h">
                            <img src="./img/qdeletecode.png">
                            <div translate class="size-16 redcolor">Are you sure you want to delete the mnemonic?</div>
                        </div>
                        <p class="poptips p25h" translate>This will completely remove the mnemonics from the app and it will not be recoverable. Please reconfirm that you have backed up your mnemonics to a safe place.</p>
                        <div class="p25h popbutton">
                            <button ng-click="addw.addWallet(addw.addwname, addw.addwpass, addw.mnemonic,true);">确认</button>
                            <button class="awbtn" ng-click="addw.addWallet(addw.addwname, addw.addwpass, addw.mnemonic);">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--创建钱包-删除口令  end-->
    </div>
    