<div class="preferences" ng-controller="wordsController as wordbacksC">
    <div>
        <div ng-if="index.backhome">
            <div
                    class="topbar-container"
                    ng-include="'views/includes/topbar.html'"
                    ng-init="titleSection='Backup'; closeToHome = true">
            </div>
        </div>
        <div ng-if="index.backwallet">
            <div
                    class="topbar-container"
                    ng-include="'views/includes/topbar.html'"
                    ng-init="titleSection='Backup'; goToWallet = true">
            </div>
        </div>
        <div ng-if="index.backwaname">
            <div
                    class="topbar-container"
                    ng-include="'views/includes/topbar.html'"
                    ng-init="titleSection='Backup'; goToWaname = true;">
            </div>
        </div>
    </div>
    <div class="f9fafch"></div>
    <div ng-show="!wordbacksC.mnemonicWords && wordbacksC.deleted">
        <div class="adddbackup">
            <div class="adddbackupimg">
                <img src="./img/backupdelete.png"/>
            </div>
            <div class="adddbackuptext" translate>The wallet password has been deleted</div>
        </div>
    </div>
 
    <div ng-show="wordbacksC.mnemonicWords || (wordbacksC.credentialsEncrypted && !wordbacksC.deleted)">
        <div class="addbsswicth">
            <div class="addbsswicthd" translate ng-hide="wordbacksC.show">Show wallet seed</div>
            <div class="addbsswicthd" translate ng-hide="!wordbacksC.show">Hide wallet seed</div>
            <a ng-click="wordbacksC.toggle()">
                <switch translate ng-model="show" class="green right"></switch>
            </a>
        </div>

        <div ng-show="wordbacksC.show" class="backupmain">
            <div translate>The wallet password:</div>
            <div translate class="m5t">It is highly recommended that you write your password on paper and have a safe place, do not take screenshots or take photos, and do not use the same password on multiple devices.Once you have written your wallet password, it is recommended to remove the password from the device.</div>
    
            <div class="addwslcbox nzcolor">
                <span ng-repeat="word in wordbacksC.mnemonicWords track by $index">{{word}}</span>
            </div>

            <div class="fleximgtext">
                <img src="./img/triwarn.png"/>
                <div translate class="redcolor size-12">Once you have written your wallet password, it is recommended to remove the password from the device.</div>
            </div>
            <button class="m30t" ng-click="wordbacksC.delete()" >
                <span translate>Delete your wallet password</span>
            </button>
        </div>
  </div>
</div>