<div
        class="topbar-container"
        ng-include="'views/includes/topbar.html'"
        ng-init="titleSection='Change password'; goBackToState = true; passsave = true;">
</div>

<div ng-controller="changewalletpController as cpass" class="addchan">
    <div class="f9fafch"></div>
    <div class="adinputitem">
        <div class="adinputic">
            <div class="adinputimg">
                <img src="./img/walletpassirinput.png">
            </div>
            <input type="text" name="curadpass" ng-model="cpass.curadpass" ng-attr-placeholder="{{'Current password'|translate}}">
        </div>
    </div>
    <div class="adinputitem">
        <div class="adinputic">
            <div class="adinputimg">
                <img src="./img/walletpassinput.png">
            </div>
            <input type="text" name="newadpass" ng-model="cpass.newadpass" ng-attr-placeholder="{{'New password'|translate}}">
        </div>
    </div>
    <div class="adinputitem">
        <div class="adinputic">
            <div class="adinputimg">
                <img src="./img/walletpassrinput.png">
            </div>
            <input type="text" name="comadpass" ng-model="cpass.comadpass" ng-attr-placeholder="{{'Repeat password'|translate}}">
        </div>
    </div>
    <div class="size-14 nzcolor m10t">忘记密码？导入助记词可重置密码。<a class="greencolor" ng-click="$root.go('import');">马上导入</a></div>
</div>

