<div
        class="topbar-container"
        ng-include="'views/includes/topbar.html'"
        ng-init="titleSection='Backup'; goBackToState = true">
</div>

<div class="content" ng-controller="changewalletpController as cpass">
    <div class="adcpitem">
        <div mdinputc class="adcpmdic">
            <label for="curadpass">当前密码</label>
            <input mdinput type="text" name="curadpass" ng-model="value">
        </div>
    </div>
    <div class="adcpitem">
        <div mdinputc class="adcpmdic">
            <label for="newadpass">新密码</label>
            <input mdinput type="text" name="newadpass">
        </div>
    </div>
    <div class="adcpitem">
        <div mdinputc class="adcpmdic">
            <label for="comadpass">确认密码</label>
            <input mdinput type="text" name="comadpass">
        </div>
    </div>
    <div>忘记密码？导入助记词可重置密码。<a>马上导入</a></div>
</div>

