

<div ng-controller="changeWalletPassWordController as changePD">
    <!-- header start -->
    <!-- <div
        class="topbar-container"
        ng-include="'views/includes/topbar.html'"
        ng-init="titleSection='Change password'; passgoToWaname = true; passsave = true;">
    </div> -->
    <nav ng-controller="topbarController as topbar" class="tab-bar">
            <section class="right-small">
                <button ng-click="changePD.changePassWord(changePD.walletId)" class="greencolor size-14" 
                ng-disabled="!changePD.newadpass || !changePD.comadpass || changepassW.$invalid || changePD.newadpass !== changePD.comadpass"><span translate>Save</span></button>
            </section>
            <section class="left-small">
                <a  ng-click="topbar.passgoToWaname(); passgoToWaname = null;index.backwaname = false;">
                     <img src="./img/chatbackstate.png" />
                 </a>
            </section>
            <section class="middle tab-bar-section">
                <h1 class="title ellipsis" translate>Change password</h1>
            </section>
        </nav>
        <!-- header end -->
    <div class="f9fafch"></div>
    <form name="changepassW">
        <div class="addchan">
            <div class="adinputitem" mdinputvalidc>
                <div class="adinputic">
                    <div class="adinputimg addwpass"></div>
                    <input type="password" autocomplete="new-password" name="newadpass" ng-model="changePD.newadpass" mdinputpass ng-attr-placeholder="{{'New password'|translate}}"
                    autocomplete="off" ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18" />
                </div>
                <p class="adinputp" translate></p>
            </div>
            <div class="adinputitem" mdinputvalidc>
                <div class="adinputic">
                    <div class="adinputimg addwrpass"></div>
                    <input type="password" autocomplete="new-password"  name="comadpass" ng-model="changePD.comadpass" ng-attr-placeholder="{{'Repeat password'|translate}}"
                    autocomplete="off" ng-minlength="1" ng-maxlength="18"
                    minlength="1" maxlength="18"
                    />
                </div>
                <p class="adinputpass" translate ng-show="changepassW.newadpass.$valid && changePD.newadpass !== changePD.comadpass">*Inconsistent password</p>
            </div>
            <div class="size-14 nzcolor m10t"><span translate>Forget password? Import mnemonics to reset your password.</span><a class="greencolor" ng-click="$root.go('import');" translate>Import now</a></div>
        </div>
    </form>
</div>

