<style type="text/css">
	.bot_name {
		text-overflow: ellipsis;
		width: 75%;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
	}
</style>
<!-- 钱包聊天视图 -->
<div ng-controller="correspondentDevicesController">
	<!-- 顶部导航栏 -->
	<!-- 主显示区 -->
	<div ui-view="dialog"></div>
	<!---->
	<!-- tab对应视图 -->
	<div class="tab-view tab-in" ng-show="state.is('correspondentDevices')" id="chat" >
		<nav ng-controller="topbarController as topbar" class="tab-bar chatcurchattops">
			<section class="middle tab-bar-section">
				<h1 class="title ellipsis" translate>
                    Chat
				</h1>
			</section>
			<section class="right-small">
				<a ng-click="beginAddCorrespondent()">
					<span translate>Add</span>
				</a>
			</section>
		</nav>
		<div class="height15"></div>
		<!-- contacts页签对应视图 -->
		<div class="mtab chatbiline" ng-class="{'active': mtab == 1}" ng-init="mtab = 1;readList();">
			<ul class="no-bullet m0 correspondentList">
				<!-- 聊天联系人列表 -->
				<li draggable="true" chat-swiper-left="newsData('up')" ng-click="showCorrespondent(correspondent)" ng-repeat="correspondent in list | orderBy:newMsgByAddressComparator">
					<div class="liin">
						<div class="ld">
							<div class="correspondentlist_badge"
								 ng-show="newMessagesCount[correspondent.device_address]">
								{{newMessagesCount[correspondent.device_address]}}
							</div>
							<span class="chatname">{{correspondent.name | limitTo:1}}</span>
							<span>{{correspondent.name}}</span>
						</div>
						<div class="rd">
							{{prefGlobal.deviceName}}
							<img src="./img/more.png" class="morerimg" ng-show="!editCorrespondentList && hideRemove"/>
							<!--消息个数提示-->
							<!--消息个数提示-->
							<div  class="chatremovep" ng-click="showchatdelete(correspondent.device_address,$event)">
								删除
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div ng-show="showchatdel" class="popconfirm">
				<div class="popmask" ng-click="showchatdel = false;"></div>
				<div class="popcontent">
					<div class="m20b chatdeleter">
						<img src="./img/chatdeleter.png">
						<div translate class="size-16 sfcolor">Are you sure you want to delete the device?</div>
					</div>
					<div class="p25h popbutton">
						<button ng-click="remove(removechataddr)" translate>Confirm</button>
						<button class="awbtn" ng-click="showchatdel = false;" translate>Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<!-- DApp store标签对应视图 -->
		<!--<div class="mtab" ng-class="{'active': mtab == 2}">-->
		<!--<ul class="no-bullet m0 correspondentList">-->
		<!--<li class="line-b" ng-repeat="bot in bots" style="padding: 10px 10px 5px 10px">-->
		<!--<div ng-click="showBot(bot)" class="pointer">-->
		<!--<span class="bot_name">{{bot.name}}</span>-->
		<!--<div class="right text-gray">-->
		<!--<i class="icon-arrow-right3 size-24"-->
		<!--ng-show="!editCorrespondentList && hideRemove"></i>-->
		<!--</div>-->
		<!--<div class="right label tu radius light-gray" ng-if="bot.isPaired" translate-->
		<!--style="margin-top: 5px">Added-->
		<!--</div>-->
		<!--</div>-->
		<!--</li>-->
		<!--</ul>-->
		<!--<div class="text-warning size-12 m10b" ng-show="botsError">{{botsError|translate}}</div>-->
		<!--</div>-->
	</div>
</div>
<div ng-controller="correspondentDevicesController">
	<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet && state.is('correspondentDevices')"></div>
</div>

