<style type="text/css">
	.bot_name {
		text-overflow: ellipsis;
		width: 75%;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
	}
</style>
<!-- 钱包聊天视图 -->
<div ng-controller="correspondentDevicesController" style="height:100%;overflow-x: hidden;" >
	<!-- 顶部导航栏 -->
	<!-- 主显示区 -->
	<div ui-view="dialog"></div>
	<!---->
	<div></div>
	<!-- tab对应视图 -->
	<div class="tab-view tab-in chat-tab-view" ng-show="state.is('correspondentDevices')" id="chat"  style="height:100%;" ng-click="hiderightpop($event)">
		<nav ng-controller="topbarController as topbar" class="tab-bar">
			<section class="middle tab-bar-section">
				<h1 class="title ellipsis" translate>
					Message
				</h1>
			</section><!-- 右区 -->
			<section class="right-small">
				<a>
					<img src="./img/chatradd.png"  id="indexpop" ng-click="showrightpop($event)">
				</a>
			</section>
			<div id="pop" style="position: fixed;padding: 0 7px;right:12px;top:56px;z-index:1;background: #fff;border: 1px solid #BE935F;" ng-show="showrightpopvalue" >
				<div class="triangle ">
				</div>
				<div class="chatpopUpWindw"  >
					<!-- 扫一扫 -->
					<div class="subDiv" ng-show="index.isCordova">
						<qr-scanner ng-show="index.isComplete" on-scan="topbar.onQrCodeScanned(data)"
									before-scan="topbar.onBeforeScan()">
							<img src="./img/chatscannner.png"/><span translate>Scanner</span>
						</qr-scanner>
					</div>

					<!-- 收款地址 -->
					<div class="subDiv">
						<a ng-click="$root.go('receive')">
							<img src="./img/lewm.png"/><span translate>receive address</span>
						</a>
					</div>

					<!--添加设备-->
					<div class="subDiv" >
						<a ng-click="$root.go('correspondentDevices.chataddCorrespondentDevice')" >
							<img src="./img/add.png"/><span translate>Add device</span>
						</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="height13"></div>
		<!-- contacts页签对应视图 -->
		<div class="mtab" ng-class="{'active': mtab == 1}" ng-init="mtab = 1" style="min-height:150px;background-color:#FFFFFF;max-height: calc(100% - 257px);">
			<ul class="no-bullet m0 correspondentList" ng-init="readList()" style="background-color:#fff;">
				<!-- 聊天联系人列表 -->
				<div class="settingli" ng-repeat="correspondent in list | orderBy:newMsgByAddressComparator">
					<li ng-click="showCorrespondent(correspondent)">
						<div class="ld">
							<span>{{correspondent.name}} ({{correspondent.device_address | limitTo:4}}...)</span>
						</div>
						<div class="rd">
							{{prefGlobal.deviceName}}
							<img src="./img/more.png" ng-show="!editCorrespondentList && hideRemove"/>
							<!--消息个数提示-->
							<div class="correspondentlist_badge"
								 ng-show="newMessagesCount[correspondent.device_address]">
								{{newMessagesCount[correspondent.device_address]}}
							</div>
							<!--消息个数提示-->
							<img src="./img/add.png" ng-show="selectedCorrespondentList[correspondent.device_address]"
								 ng-hide="hideRemoveButton(correspondent.removable)" ng-click="remove(correspondent.device_address,$event)"/>
						</div>
					</li>
				</div>
				<!-- Contacts 页签显示内容 -->
				<!-- 添加 -->
				<!--<li class="m10t" ng-show="!editCorrespondentList">-->
				<!--<a ng-click="beginAddCorrespondent()" class="p10">-->
				<!--<i class="fi-plus size-18 m10r" style="vertical-align: middle;"></i>-->
				<!--<span class="text-close size-12" translate>Add a new device</span>-->
				<!--</a>-->
				<!--</li>-->
				<!-- 刪除 -->
				<!--<li class="m10t" ng-show="!editCorrespondentList">-->
				<!--<a ng-click="hideRemove = !hideRemove" class="p10">-->
				<!--<i class="fi-minus size-18 m10r" style="vertical-align: middle;"></i>-->
				<!--<span class="text-close size-12" translate>Remove a device</span>-->
				<!--</a>-->
				<!--</li>-->
			</ul>
			<!-- 添加 -->
			<div ng-show="!editCorrespondentList" translate class="p15h m40t">
				<button ng-click="beginAddCorrespondent()" translate>
					<text translate>Add device</text>
				</button>
			</div>
			<!-- 刪除 -->
			<div id="chatdelete" ng-show="!editCorrespondentList" translate class="p15h m20t">
				<button ng-click="hideRemove = !hideRemove" translate>
					<!--<i class="fi-minus size-18 m10r" style="vertical-align: middle;"></i>-->
					<text ng-show="!editCorrespondentList && hideRemove" translate>Remove device</text>
					<text ng-show="!editCorrespondentList && !hideRemove" translate>CANCEL</text>
				</button>
			</div>
			<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>
		</div>

		<!-- DApp store标签对应视图 -->
		<!--<div class="mtab" ng-class="{'active': mtab == 2}">-->
		<!--<ul class="no-bullet m0 correspondentList">-->
		<!--<li class="line-b" ng-repeat="bot in bots" style="padding: 10px 10px 5px 10px">-->
		<!--<div ng-click="showBot(bot)" class="pointer">-->
		<!--<span class="bot_name">{{bot.name}}</span>-->
		<!--<div class="right text-gray">-->
		<!--<i class="icon-arrow-right3 size-24"-->
		<!--ng-show="!editCorrespondentList && hideRemove"></i>-->
		<!--</div>-->
		<!--<div class="right label tu radius light-gray" ng-if="bot.isPaired" translate-->
		<!--style="margin-top: 5px">Added-->
		<!--</div>-->
		<!--</div>-->
		<!--</li>-->
		<!--</ul>-->
		<!--<div class="text-warning size-12 m10b" ng-show="botsError">{{botsError|translate}}</div>-->
		<!--</div>-->

	</div>

</div>
