<!-- 聊天视图 -->
<div ng-controller="correspondentDeviceController">

    <!-- top bar 板块 -->
    <nav class="tab-bar chatcurchattop">
        <!-- 返回 -->
        <section class="left-small">
            <a ng-click="goToCorrespondentDevices()">
                <img src="./img/chatbackstate.png">
            </a>
        </section>
        <!-- 设备名作为title -->
        <section class="middle tab-bar-section">
            <h1 class="title ellipsis" >
                {{correspondent.name}}
            </h1>
        </section>
        <!-- 编辑 -->
        <section class="right-small" ng-click="editCorrespondent()">
            <a>
                <span translate class="size-18" style="color: #664C2A;">Setting</span>
            </a>
        </section>
    </nav>

    <style>
        .right-side {
            margin-left: auto;
            margin-right: 0px;
        }
        .left-side {
            margin-left: 0px;
            margin-right: auto;
        }
        .send-form {
            position: absolute;
            width: 100%;
            bottom: 0px;
            box-shadow:0px 1px 4px 0px rgba(0,0,0,0.22);
            background-color: white;
            z-index: 5;
            white-space: nowrap;
            text-align: center;
            height: 50px;
        }
        .send-form .textinput {
            min-height: 30px;
            width: 75%;
            margin: 0 auto;
            display: inline;
            vertical-align: middle;
            margin-top: 8px;
        }
        .send-form .chatbutton {
            padding: 6px 8px 4px 8px;
            border-radius: 40px;
            margin: 8px auto;
        }
        .send-form .chatbutton i {
            vertical-align: baseline;
        }
        #drop {
            max-width: 300px;
            width: auto !important;
            text-align: left;
            line-height: 1em;
            top: -50px  !important;
            left: 13px  !important;
            border: 1px solid #BE935F;
        }
        .f-dropdown.drop-top:after{
            border-color:  #BE935F transparent transparent transparent;
        }
        .f-dropdown li{
            padding: 4px 9px;
            text-align: center;
        }
        .f-dropdown > *:first-child{
            padding-bottom: 0;
        }
        .f-dropdown > *:first-child:after{
            width: 100%;
            margin:0 auto;
            content: '';
            display: block;
            border-bottom: 1px solid #DEDEDE;
            margin-top: 4px;
        }
        #recording-drop {
            max-width: 200px;
            left: 140px;
            padding: 15px;
        }
        .message-log {
            position: absolute;
            width: 100%;
            top: 45px;
            overflow-x: hidden;
            overflow-y: auto;
            font-size: 13px;
            background: #F9FAFC;
            height: calc(100vh - 96px);
        }
        .chat-message {
            width: 100%;
            position: relative;
        }
        .bubble {
            padding: 10px 15px;
            margin: 0px 7px;
            border-radius: 18px;
            position: relative;
            max-width: 80%;
            text-align: left;
            /*display: inline-block;*/
            word-wrap: break-word;
        }
        .top-drop-btn, .top-drop-btn:hover, .top-drop-btn:active, .top-drop-btn:focus {
            padding: 0;
            background: none;
        }
        #top-drop {
            width: 150px;
            left: 50%;
            margin-left: -75px;
        }
        /*
        Chat bubble CSS credits http://codepen.io/samuelkraft/pen/Farhl
        */
        .clear {
            clear: both;
        }
        .from-me {
            color: #45310A;
            background: #CFAA7A;
            font-size: 13px;
            font-family: pfmedium;
            float: right;
            border: 1px solid #664C2A;
            border-radius: 0;
            position: relative;
            margin-right: 22px;
            margin-bottom: 24px;
        }
        .from-me:before {
            content: "";
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right: -17px;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-left: 10px solid #CFAA7A;
            z-index: 3;
        }
        .from-me:after {
            content: "";
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right: -19px;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-left: 10px solid #664C2A;
            z-index: 1;
        }
        .from-me a {
            color: white;
        }
        .bubble a.payment, .bubble a.external-link {
            text-decoration: underline;
        }
        .bubble a.command {
            line-height: 2;
        }
        .from-them {
            background: #ffffff;
            color: #323232;
            font-size: 13px;
            font-family: pfmedium;
            float: left;
            border: 1px solid #664C2A;
            border-radius: 0;
            margin-left: 22px;
            margin-bottom: 24px;
        }
        .from-them:before {
            content: "";
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left: -17px;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-right: 10px solid #FFF;
            z-index: 3;
        }
        .from-them:after {
            content: "";
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left: -19px;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-right: 10px solid #664C2A;
            z-index: 1;
        }
        .system {
            position: relative;
            z-index: 1;
            text-align: center;
            max-width: 100%;
            font-size:12px;
        }
        .system span {
            color: #888;
            padding: 0 10px;
            background-color: white;
        }
        .system span.padding {
            padding: 0 10px 0 0;
        }
        .system b {
            background-color: white;
            border: 1px dashed #888;
            border-width: 0 0 1px 0;
            cursor: pointer;
        }
        .system:before {
            border-top: 1px solid #DEDEDE;
            content: "";
            margin: 0 auto;
            /* this centers the line to the full width specified */
            position: absolute;
            /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 95%;
            z-index: -1;
        }
        .switch-line {
            margin-top: 5px;
        }
        .msg-ts {
            color: #acacac;
            font-size: 10px;
            padding-top: 10px;
            width: 12%;
        }
        @media (max-width: 350px) {
            .msg-ts {
                font-size: 8px;
            }
        }
        .send-form .textinput::-webkit-input-placeholder {
            white-space: nowrap;
        }
        .dropup-item {
            correspondentDevice . html
            display: inline-block;
            max-width: 100%;
            padding: 0 15px 0 10px;
        }
        .dropup-item-link {
            padding: 8px 0 !important;
            display: inline-block !important;
            max-width: calc(100% - 10px);
            float: left;
        }
        .ellipsis-end {
            float: left;
            width: 10px;
            padding: 8px 0;
            color: #555555;
        }
        .lefttime{
            text-align: left;
            position: absolute;
            left: 22px;
            bottom: 3px;
            color: #909090;
            font-size: 10px;
            font-family: pfmedium;
            width: 100%;
        }
        .righttime{
            text-align: right;
            position: absolute;
            right: 22px;
            bottom: 3px;
            color: #909090;
            font-size: 10px;
            font-family: pfmedium;
            width: 100%;
        }
    </style>


    <div class="onGoingProcess" ng-show="onGoingProcess">
        <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            {{onGoingProcess|translate}}...
        </div>
    </div>

    <!-- 聊天记录信息展示板块 -->
    <div class="message-log size-12 enable_text_select" scroll-bottom="messageEvents" when-scrolled="loadMoreHistory"
         bind-to-height="['bottom','form[name=chatForm]']"
         ng-mousemove="newMsgCounterEnabled ?'': newMessagesCount[correspondent.device_address] = 0">
        <div class="chat-message " ng-repeat="messageEvent in messageEvents" >
            <div ng-class="messageEvent.bIncoming ? 'from-them' : (messageEvent.type == 'system' ? 'system' : 'from-me')"
                 class="bubble " dynamic="messageEvent.message"></div>
            <span class=""></span>
            <div ng-class="(messageEvent.bIncoming ? 'lefttime' : 'righttime')" class="msg-ts "
                 ng-if="messageEvent.type != 'system'">{{messageEvent.timestamp * 1000 | date:'shortTime'}}
            </div>
            <!--/div-->
            <div class="clear"></div>
        </div>
    </div>

    <!-- 聊天表单板块 -->

    <form name="chatForm" class="send-form mychatcurform" id="mychatcurform" no-validate
          ng-mousemove="newMsgCounterEnabled ?'': newMessagesCount[correspondent.device_address] = 0">
        <div class="text-warning size-12 m10b" ng-show="error">{{error|translate}}</div>
        <!-- 左侧功能选项anniu -->
        <img src="./img/chatltmessage.png" class="chatboardbtn left" dropdown-toggle="#drop" id="chatltmessage" data-options="align:top"/>

        <!--<i class="iconfont icon-xiaoxib chatboardbtn left" dropdown-toggle="#drop" data-options="align:top"></i>-->
        <!-- 左侧功能选项 -->
        <ul id="drop" class="f-dropdown drop-top drop-up" data-dropdown-content>
            <!-- 插入我的地址（小额钱包） -->
            <li class="dropup-item" ng-click="showselectwt = true;" >
                <span translate>insert my address</span>
            </li>
            <div class="clear"></div>
            <!-- 请求付款（小额钱包） -->
            <li class="dropup-item" ng-click="requestPayment()" >
                <span translate>request payment</span>
            </li>
        </ul>
        <input  msd-elastic id="message" name="message" ng-model="message" autofocus required
                ng-enter="send()" class="chatcurtextinput"/>
        <!-- 发送按钮 -->
        <input type="submit"
               class="chatcursubmitbtn"
               ng-disabled="!chatForm.$valid"
               ng-click="send()" value="" />
    </form>
    <div ng-show="showselectwt" class="popconfirm">
        <div class="popmask" ng-click="showselectwt = false;"></div>
        <div class="popcontentwt">
            <ul class="m0">
                <li ng-repeat="item in index.walletInfo" ng-click="insertMyAddress(item.wallet);">
                    <div class="liin">
                        <div class="ld">
                            <div class="limg">
                                <img ng-src="{{item.image}}" />
                            </div>
                            <span>{{item.walletName}}</span>
                        </div>
                        <div class="rd">
                            <span translate>Available amount</span>:&nbsp;<span>{{item.stables}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>