<div ng-controller="createwalletController as create" ng-init="create.step = 'createwallet'">
  <!--创建钱包-创建钱包信息  start-->
  <div class="addwcontent" ng-if="create.step == 'createwallet'">
    <nav class="tab-bar">
      <section class="left-small">
        <a ng-click="$root.go('walletHome')">
          <img src="./img/chatbackstate.png" />
        </a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title ellipsis" translate>
          Create new wallet
        </h1>
      </section>
    </nav>
    <div class="f9fafch"></div>
    <div class="addwcontentin">
      <div class="fleximgtext">
        <img src="./img/warn.png">
        <div translate class="redcolor size-12">The password is used to protect the private key and transaction authorization, and the strength is very important!</div>
      </div>
      <div class="fleximgtext">
        <img src="./img/warn.png">
        <div translate class="redcolor size-12">InterValue does not store passwords and cannot be retrieved for you. Please keep in mind!</div>
      </div>
      <p ng-if="create.createwalleterr">密码不一致</p>
      <div class="adinputitem">
        <div class="adinputic">
          <div class="adinputimg">
            <img src="./img/walletnameinput.png">
          </div>
          <input type="text" ng-model="create.createwname" ng-attr-placeholder="{{'Wallet name'|translate}}">
        </div>
      </div>
      <div class="adinputitem">
        <div class="adinputic">
          <div class="adinputimg">
            <img src="./img/walletpassinput.png">
          </div>
          <input type="text" ng-model="create.createwpass" ng-attr-placeholder="{{'Password'|translate}}">
        </div>
      </div>
      <div class="adinputitem">
        <div class="adinputic">
          <div class="adinputimg">
            <img src="./img/walletpassrinput.png">
          </div>
          <input type="text" ng-model="create.createwrpass" ng-attr-placeholder="{{'Repeat password'|translate}}">
        </div>
      </div>
      <button class="m40t m24b" ng-click="create.passequal()" ng-disabled="!create.createwname || !create.createwpass || !create.createwrpass" translate>Creat wallet</button>
      <button ng-click="$root.go('import')" translate>import wallet</button>
    </div>
  </div>
  <!--创建钱包-创建钱包信息  end-->
  <!--创建钱包-显示钱包口令  start-->
  <div class="addwcontent" ng-if="create.step == 'showcode'" ng-init="create.funReg()">
    <nav class="tab-bar">
      <section class="left-small">
        <a ng-click="create.step = 'createwallet'">
          <img src="./img/chatbackstate.png" />
        </a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title ellipsis" translate>
          Backup mnemonic
        </h1>
      </section>
    </nav>
    <div class="f9fafch"></div>
    <div class="addwcontentin">
      <img class="warnbigimg" src="./img/warnbig.png" />
      <p class="center redcolor m28b" translate>Please do not take a screenshot and copy your wallet password.</p>
      <p class="center size-11" translate>The password is used to restore the wallet, write it accurately on paper, and save it where you only know it.</p>
      <div class="addwscbox m28b">
        <span ng-repeat="item in create.showcodes">{{item.str}}</span>
      </div>
      <button ng-click="create.step = 'selectcode'">下一步</button>
    </div>
  </div>
  <!--创建钱包-显示钱包口令  end-->
  <!--创建钱包-选择钱包口令  start-->
  <div class="addwcontent" ng-if="create.step == 'selectcode'">
    <nav class="tab-bar">
      <section class="left-small">
        <a ng-click="create.step = 'showcode'">
          <img src="./img/chatbackstate.png" />
        </a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title ellipsis" translate>
          Backup mnemonic
        </h1>
      </section>
    </nav>
    <div class="f9fafch"></div>
    <div class="addwcontentin">
      <img class="warnbigimg" src="./img/warnbig.png" />
      <p class="center redcolor m28b" translate>Confirm your mnemonic</p>
      <p ng-show="create.showcodeerr">口令不正确</p>
      <div>
        <div class="addwslcbox m24b" ng-click="create.minuswordf($event)">
          <span ng-repeat="item in create.chosenWords" id="{{item.id}}" >{{item.str}}</span>
        </div>
        <div class="wordsbox m12b" ng-click="create.createwordf($event)">
          <button ng-repeat="item in create.showrandamcodes" id="{{item.id}}" ng-disabled="item.chosen">{{item.str}}</button>
        </div>
      </div>
      <button ng-click="create.step = 'showcode'" translate>Last step</button>
    </div>
  </div>
  <!--创建钱包-选择钱包口令  end-->
  <!--创建钱包-删除口令  start-->
  <div class="addwcontent" ng-if="create.step == 'deletecode'">
    <nav class="tab-bar">
      <section class="middle tab-bar-section">
        <h1 class="title ellipsis" translate>
          Backup mnemonic
        </h1>
      </section>
    </nav>
    <div class="f9fafch"></div>
    <div class="addwcontentin">
      <img class="warnbigimg" src="./img/warnbig.png" />
      <p class="center redcolor m28b" translate>Confirm your mnemonic</p>
      <div class="addwslcbox m15b">
        <span ng-repeat="item in create.showcodes" id="{{item.id}}" >{{item.str}}</span>
      </div>
      <p class="center redcolor m35b">Your password is correct. To ensure the security of your wallet, we recommend that you delete your password.</p>
      <button class="m20b" ng-click="create.showconfirm = true;" translate>Delete mnemonic</button>
      <button class="awbtn" ng-click="create.delteConfirm(create.createwname, create.createwpass, create.mnemonic);" translate>Skip</button>
      <div ng-if="create.showconfirm" class="popconfirm">
        <div class="popmask" ng-click="create.showconfirm = false;"></div>
        <div class="popcontent">
          <div class="fleximgtextc m20b p25h">
            <img src="./img/qdeletecode.png">
            <div translate class="size-16 redcolor">Are you sure you want to delete the mnemonic?</div>
          </div>
          <p class="poptips p25h" translate>This will completely remove the mnemonics from the app and it will not be recoverable. Please reconfirm that you have backed up your mnemonics to a safe place.</p>
          <div class="p25h popbutton">
            <button ng-click="create.delteConfirm(create.createwname, create.createwpass, create.mnemonic);">确认</button>
            <button class="awbtn" ng-click="create.showconfirm = false;">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--创建钱包-删除口令  end-->
  <!--导入钱包-导入钱包  start-->
  <div class="addwcontent addwimportwallet" ng-if="create.step == 'importwallet'">
    <nav class="tab-bar">
      <section class="left-small">
        <a ng-click="create.step = 'createorimport'">
          <img src="./img/chatbackstate.png" />
        </a>
      </section>
      <section class="right-small">
        <a>
          <img src="./img/scan.png"/>
        </a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title ellipsis" translate>
          Import wallet
        </h1>
      </section>
    </nav>
    <div class="importtab">
      <div class="tab-container" ng-class="{'selected': create.showtab == 'tabcold'}">
        <a href ng-click="create.showtab = 'tabcold'" translate>Plain Wallet</a>
      </div>
      <div class="tab-container" ng-class="{'selected': create.showtab == 'tabhot'}">
        <a href ng-click="create.showtab = 'tabhot'" translate>Hot Wallet</a>
      </div>
    </div>
    <div class="addwcontentin">
      <div ng-if="create.showtab == 'tabcold'">
        <div translate>Wallet Seed :</div>
        <textarea placeholder="{{'Enter your mnemonic, separated by spaces'|translate}}" ng-model="create.importcode"></textarea>
        <div class="adinputitem">
          <div class="adinputic">
            <div class="adinputimg">
              <img src="./img/walletnameinput.png">
            </div>
            <input type="text" ng-model="create.createwiname" ng-attr-placeholder="{{'Wallet name'|translate}}">
          </div>
        </div>
        <div class="adinputitem">
          <div class="adinputic">
            <div class="adinputimg">
              <img src="./img/walletpassirinput.png">
            </div>
            <input type="text" ng-model="create.createwipass" ng-attr-placeholder="{{'Password'|translate}}">
          </div>
        </div>
        <div class="adinputitem">
          <div class="adinputic">
            <div class="adinputimg">
              <img src="./img/walletpassinput.png">
            </div>
            <input type="text" ng-model="create.createwirpass" ng-attr-placeholder="{{'Repeat password'|translate}}">
          </div>
        </div>
        <button class="m24b m20t" translate ng-disabled="!create.importcode || !create.createwipass || !create.createwirpass" ng-click="create.importw()">Start importing</button>
        <div class="size-12 redcolor" translate>Note: Please be patient while the wallet is recovering. Do not quit the software.</div>
      </div>
      <div ng-if="create.showtab == 'tabhot'">
        <div translate class="m20b">The hot wallet does not need to import the private key, only the wallet createress, for daily viewing of accounts, transactions and acceptance notifications. The private key of large funds is recommended to use cold wallet or hardware wallet management to avoid theft and theft.</div>
        <div class="adinputitem">
          <div class="adinputic">
            <div class="adinputimg">
              <img src="./img/walletpassinput.png">
            </div>
            <input type="text" ng-model="create.createwpass" ng-attr-placeholder="{{'Scan or enter your wallet createress'|translate}}">
          </div>
        </div>
        <button class="m24b m20t" translate>Start importing</button>
        <div class="size-12 redcolor" translate>Note: The hot wallet needs a cold wallet to match the signature when sending the transaction. You can use another idle phone, open the flight mode as a cold wallet, import the wallet private key, and match the offline signature.</div>
      </div>
    </div>
  </div>
  <!--导入钱包-导入钱包  end-->
</div>

