<div ng-controller="createController as create" ng-init="create.step = 'addwallet'">
    <!--创建钱包-创建钱包信息  start-->
    <div class="addwcontent" ng-if="create.step == 'addwallet'">
      <nav class="tab-bar">
        <section class="left-small">
          <a ng-click="$root.go('walletHome')">
            <img src="./img/chatbackstate.png" />
          </a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title ellipsis" translate>
            Create new wallet
          </h1>
        </section>
      </nav>
      <div class="f9fafch"></div>
      <div class="addwcontentin">
        <div class="fleximgtext">
          <img src="./img/warn.png">
          <div translate class="redcolor size-12">The password is used to protect the private key and transaction authorization, and the strength is very important!</div>
        </div>
        <div class="fleximgtext">
          <img src="./img/warn.png">
          <div translate class="redcolor size-12">InterValue does not store passwords and cannot be retrieved for you. Please keep in mind!</div>
        </div>
        <p ng-if="create.addwalleterr">密码不一致</p>
        <div class="adinputitem">
          <div class="adinputic">
            <div class="adinputimg">
              <img src="./img/walletnameinput.png">
            </div>
            <input type="text" ng-model="addw.addwname" ng-attr-placeholder="{{'Wallet name'|translate}}">
          </div>
        </div>
        <div class="adinputitem">
          <div class="adinputic">
            <div class="adinputimg">
              <img src="./img/walletpassinput.png">
            </div>
            <input type="text" ng-model="addw.addwpass" ng-attr-placeholder="{{'Password'|translate}}">
          </div>
        </div>
        <div class="adinputitem">
          <div class="adinputic">
            <div class="adinputimg">
              <img src="./img/walletpassrinput.png">
            </div>
            <input type="text" ng-model="addw.addwrpass" ng-attr-placeholder="{{'Repeat password'|translate}}">
          </div>
        </div>
        <button class="m40t m24b" ng-click="addw.passequal()" ng-disabled="!addw.addwname || !addw.addwpass || !addw.addwrpass" translate>Creat wallet</button>
        <button ng-click="$root.go('import')" translate>import wallet</button>
      </div>
    </div>
    <!--创建钱包-创建钱包信息  end-->
</div>

