<div ng-controller="createwalletController as create" ng-init="create.step = 'addorimport';">
    <!--选择导入钱包还是创建钱包  start-->
    <div class="welcomepage" ng-if="create.step == 'addorimport'">
        <!-- 图标 -->
        <div class="welcometext">
            <img src="./img/welcomeinve.png" >
            <div>
              <p class="m0 text-white" translate>Your wallet will be created on this device,</p>
              <p class="m0 text-white" translate>keep it safe.  See your backup options in the Settings menu.</p>
            </div>
        </div>
        <div class="twowayin">
            <!-- 创建 -->
            <button ng-click="create.step = 'addwallet'" translate>
                Creat wallet
            </button>
            <!-- 恢复 -->
            <button ng-click="create.step = 'importwallet';index.signatureAddr = ''" class="awbtn m15t" translate>
                Import wallet
            </button>
        </div> 
    </div>
    <!--选择导入钱包还是创建钱包  end-->
    <!--创建钱包-创建钱包信息  start-->
    <div class="addwcontent" ng-if="create.step == 'addwallet'">
      <nav class="tab-bar">
        <section class="left-small">
          <a ng-click="create.step = 'addorimport'">
            <img src="./img/chatbackstate.png" />
          </a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title ellipsis" translate>
              Creat wallet
          </h1>
        </section>
      </nav>
      <div class="f9fafch"></div>
      <div class="addwcontentin">
        <div class="fleximgtext">
          <img src="./img/warnb.png">
          <div translate class="warmcolor size-12">The password is used to protect the private key and transaction authorization, and the strength is very important!</div>
        </div>
        <div class="fleximgtext">
          <img src="./img/warnb.png">
          <div translate class="warmcolor size-12">InterValue does not store passwords and cannot be retrieved for you. Please keep in mind!</div>
        </div>
        <form name="creatwform" novalidate>
          <div class="adinputitem" mdinputvalidc>
              <div class="adinputic">
                  <div class="adinputimg addwname"></div>
                  <input type="text" ng-model="create.createwname" mdinputname ng-attr-placeholder="{{'Wallet name'|translate}}" autocomplete="off" 
                  ng-minlength="1" ng-maxlength="20" minlength="1" maxlength="20" />
              </div>
              <p class="adinputp" translate></p>
          </div>
          <div class="adinputitem" mdinputvalidc>
              <div class="adinputic">
                  <div class="adinputimg addwpass"></div>
                  <input type="password" autocomplete="new-password" name="addwpass" ng-model="create.createwpass" mdinputpass ng-attr-placeholder="{{'Password'|translate}}"
                  autocomplete="off" ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18" />
              </div>
              <p class="adinputp" translate></p>
          </div>
          <div class="adinputitem" mdinputvalidc ng-class="{'setErrorexp':creatwform.addwpass.$valid && create.createwpass !== create.createwrpass}">
              <div class="adinputic">
                  <div class="adinputimg addwrpass"></div>
                  <input type="password" autocomplete="new-password" name="addwrpass" ng-model="create.createwrpass"
                  ng-attr-placeholder="{{'Repeat password'|translate}}" autocomplete="off"
                   ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18"
                  />
              </div>
              <p class="adinputpass" translate ng-show="creatwform.addwpass.$valid && create.createwpass !== create.createwrpass">*Inconsistent password</p>
          </div>
          <button class="m40t m15b" ng-click="create.step = 'showcode'" ng-disabled=" !create.createwname || !create.createwpass || !create.createwrpass || creatwform.$invalid || create.createwpass !== create.createwrpass" translate>Creat wallet</button>
        </form>
      </div>
    </div>
    <!--创建钱包-创建钱包信息  end-->
    <!--创建钱包-显示钱包口令  start-->
    <div class="addwcontent" ng-if="create.step == 'showcode'" ng-init="create.funReg()">
      <nav class="tab-bar">
        <section class="left-small">
          <a ng-click="create.step = 'addwallet'">
            <img src="./img/chatbackstate.png" />
          </a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title ellipsis" translate>
            Backup mnemonic
          </h1>
        </section>
      </nav>
      <div class="f9fafch"></div>
      <div class="addwcontentin">
        <img class="warnbigimg" src="./img/warnbig.png" />
        <p class="center redcolor m28b" translate>Please do not take a screenshot and copy your wallet password.</p>
        <p class="center size-11" translate>The password is used to restore the wallet, write it accurately on paper, and save it where you only know it.</p>
        <div class="addwscbox m28b">
          <span ng-repeat="item in create.showcodes track by $index">{{item.str}}</span>
        </div>
        <button ng-click="create.step = 'selectcode'" translate>Next</button>
      </div>
    </div>
    <!--创建钱包-显示钱包口令  end-->
    <!--创建钱包-选择钱包口令  start-->
    <div class="addwcontent" ng-if="create.step == 'selectcode'">
      <nav class="tab-bar">
        <section class="left-small">
          <a ng-click="create.step = 'showcode'">
            <img src="./img/chatbackstate.png" />
          </a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title ellipsis" translate>
            Backup mnemonic
          </h1>
        </section>
      </nav>
      <div class="f9fafch"></div>
      <div class="addwcontentin">
        <img class="warnbigimg" src="./img/warnbig.png" />
        <p class="center redcolor m28b" translate>Confirm your mnemonic</p>
        <p ng-show="create.showcodeerr" class="redcolor" translate>Incorrect mnemonic</p>
        <div style="display: block;min-height:220px;">
          <div class="addwslcbox m24b" ng-click="create.minuswordf($event)">
            <span ng-repeat="item in create.chosenWords track by $index" id="{{item.id}}" >{{item.str}}</span>
          </div>
          <div class="wordsbox m12b" ng-click="create.createwordf($event)">
            <button ng-repeat="item in create.showrandamcodes track by $index" id="{{item.id}}" ng-disabled="item.chosen">{{item.str}}</button>
          </div>
        </div>
        <button ng-click="create.step = 'showcode'" translate>Last step</button>
      </div>
    </div>
    <!--创建钱包-选择钱包口令  end-->
    <!--创建钱包-删除口令  start-->
    <div class="addwcontent" ng-if="create.step == 'deletecode'">
      <nav class="tab-bar">
        <section class="middle tab-bar-section">
          <h1 class="title ellipsis" translate>
            Backup mnemonic
          </h1>
        </section>
      </nav>
      <div class="f9fafch"></div>
      <div class="addwcontentin">
        <img class="warnbigimg" src="./img/warnbig.png" />
        <p class="center redcolor m28b" translate>Confirm your mnemonic</p>
        <div class="backslcbox m15b">
          <span ng-repeat="item in create.showcodes track by $index" id="{{item.id}}" >{{item.str}}</span>
        </div>
        <p class="center redcolor m35b" translate>Your password is correct. To ensure the security of your wallet, we recommend that you delete your password.</p>
        <button class="m20b" ng-click="create.showconfirm = true;" translate>Delete mnemonic</button>
        <button class="awbtn" ng-click="create.createWallet(create.createwname, create.createwpass, create.createwrpass, create.mnemonic);" translate>Skip</button>
        <div ng-if="create.showconfirm" class="popconfirm">
          <div class="popmask" ng-click="create.showconfirm = false;"></div>
          <div class="popcontent">
            <div class="fleximgtextc m20b p25h">
              <img src="./img/qdeletecode.png">
              <div translate class="size-16 redcolor">Are you sure you want to delete the mnemonic?</div>
            </div>
            <p class="poptips p25h" translate>This will completely remove the mnemonics from the app and it will not be recoverable. Please reconfirm that you have backed up your mnemonics to a safe place.</p>
            <div class="p25h popbutton">
              <button ng-click="create.createWallet(create.createwname, create.createwpass, create.createwrpass, create.mnemonic,true);" translate>Confirm</button>
              <button class="awbtn" ng-click="create.showconfirm = false;" translate>Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--创建钱包-删除口令  end-->
    <!--导入钱包-导入钱包  start-->
    <div class="addwcontent addwimportwallet" ng-if="create.step == 'importwallet'" >
      <nav class="tab-bar" ng-controller="topbarController as topbar">
        <section class="left-small">
          <a ng-click="create.step = 'addorimport'">
            <img src="./img/chatbackstate.png" />
          </a>
        </section>
        <section class="right-small" ng-show="index.isCordova">
          <qr-scanner  on-scan="topbar.onQrCodeScannedAddr(data)" before-scan="topbar.onBeforeScan()"></qr-scanner>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title ellipsis" translate>
            Import wallet
          </h1>
        </section>
      </nav>
      <div class="tabclicktitle">
        <div class="tab-container" ng-class="{'selected': create.showtab == 'tabcold'}">
          <a ng-click="create.showtab = 'tabcold'" translate>Plain Wallet</a>
        </div>
        <div class="tab-container" ng-class="{'selected': create.showtab == 'tabhot'}">
          <a ng-click="create.showtab = 'tabhot';index.signatureAddr = ''" translate>Hot Wallet</a>
        </div>
      </div>
      <div class="addwcontentin">
        <div ng-if="create.showtab == 'tabcold'">
          <div translate>Wallet Seed :</div>
          <textarea placeholder="{{'Enter your mnemonic, separated by spaces'|translate}}" ng-model="create.importcode"></textarea>
          <form name="creatwiform" novalidate>
            <div class="adinputitem" mdinputvalidc>
                <div class="adinputic">
                    <div class="adinputimg addwname"></div>
                    <input type="text" ng-model="create.createwiname" mdinputname ng-attr-placeholder="{{'Wallet name'|translate}}" autocomplete="off" 
                    ng-minlength="1" ng-maxlength="20" minlength="1" maxlength="20"/>
                </div>
                <p class="adinputp" translate></p>
            </div>
            <div class="adinputitem" mdinputvalidc>
                <div class="adinputic">
                    <div class="adinputimg addwpass"></div>
                    <input type="password" autocomplete="new-password" name="addwpass" ng-model="create.createwipass" mdinputpass ng-attr-placeholder="{{'Password'|translate}}"
                    autocomplete="off" ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18" />
                </div>
                <p class="adinputp" translate></p>
            </div>
            <div class="adinputitem" mdinputvalidc ng-class="{'setErrorexp':creatwiform.addwpass.$valid && create.createwipass !== create.createwirpass}">
                <div class="adinputic">
                    <div class="adinputimg addwrpass"></div>
                    <input type="password" autocomplete="new-password" name="addwrpass" ng-model="create.createwirpass"
                    ng-attr-placeholder="{{'Repeat password'|translate}}" autocomplete="off" 
                    ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18"
                    />
                </div>
                <p class="adinputpass" translate ng-show="creatwiform.addwpass.$valid && create.createwipass !== create.createwirpass">*Inconsistent password</p>
            </div>
            <button class="m30t m15b" ng-click="create.importw()" ng-disabled=" !create.importcode || !create.createwipass || !create.createwirpass || creatwiform.$invalid || create.createwipass !== create.createwirpass" translate>Start importing</button>
            <div class="size-12 warmcolor" translate>Note: Please be patient while the wallet is recovering. Do not quit the software.</div>
          </form>
        </div>
        <div ng-if="create.showtab == 'tabhot'" ng-controller="importwalletController as import">
          <form name="addressForm" ng-submit="import.generateAddressQRCode()">
          <div translate class="m20b">The hot wallet does not need to import the private key, only the wallet address, for daily viewing of accounts, transactions and acceptance notifications. The private key of large funds is recommended to use cold wallet or hardware wallet management to avoid theft and theft.</div>
          <div class="adinputitem">
            <div class="adinputic">
              <div class="adinputimg">
                  <img src="./img/wallet.png" style="width: 18px;">
              </div>
              <input type="text" name="address" style="padding-left: 13px;" ng-model=index.signatureAddr ng-attr-placeholder="{{'Scan or enter your wallet address'|translate}}" >
            </div>
          </div>
            <button type="submit" class="m24b m20t" ng-disabled="!index.signatureAddr" translate>Start importing</button>
          <div class="size-12 warmcolor" translate>Note: The hot wallet needs a cold wallet to match the signature when sending the transaction. You can use another idle phone, open the flight mode as a cold wallet, import the wallet private key, and match the offline signature.</div>
          </form>
        </div>
      </div>
    </div>
    <!--导入钱包-导入钱包  end-->
  </div>
  