
<div ng-controller="editCorrespondentDeviceController">

  <!--div
    class="topbar-container"
    ng-include="'views/includes/topbar.html'"
    ng-init="titleSection='{{name}}'; goBackToState = true; showCamera = true">
  </div-->

  <nav class="tab-bar">
    <section class="left-small">
      <a ng-click="$root.go('correspondentDevices.correspondentDevice')">
        <img src="./img/chatbackstate.png">
      </a>
    </section>
    <section class="middle tab-bar-section">
      <h1 class="title ellipsis">
        {{name}}
      </h1>
    </section>
  </nav>
  <div class="height13"></div>
  <div class="addeditcd">
      <div class="address">
        <div class="deviceadd">
          <div>
            <img src="img/wallet.png">
          </div>
          <span translate>Device address:</span>
        </div>
        <div class="deviceaddinfo ellipsis enable_text_select">{{correspondent.device_address}}@{{hub}}</div>
      </div>
      <form name="editForm" class="chateditform" no-validate>
        <div class="text-warning size-12 m10b" ng-show="error">{{error|translate}}</div>
        <div class="address">
          <div class="deviceadd">
            <div>
              <img src="img/rename.png">
            </div>
            <span translate>Rename:</span>
          </div>
          <div class="deviceaddinfo">
            <input type="text" id="name" name="name" ng-model="name" required ng-maxlength="20" ng-minlength="1" maxlength="20" minlength="1">
          </div>
        </div>
        <!--<span translate>Change hub:</span>
        <input type="text" id="hub" name="hub" ng-model="hub" required>-->
        <div class="purge_chat"><a ng-click="showconfirm = true;" translate>clear chat history</a></div>
      </form>
    <div>
      <button type="submit" class="m30t" ng-disabled="!editForm.$valid" ng-click="save()" translate>Save</button>
    </div>
    <div ng-show="showconfirm" class="popconfirm">
      <div class="popmask" ng-click="showconfirm = false;"></div>
      <div class="popcontent">
        <div class="m20b chatdeleter">
          <img src="./img/chatdeleter.png">
          <div translate class="size-16 sfcolor">Are you sure you want to delete the wallet?</div>
        </div>
        <div class="p25h popbutton">
          <button ng-click="deletechat()" translate>Confirm</button>
          <button class="awbtn" ng-click="showconfirm = false;" translate>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>