<div ng-controller="importController as import">
	<!--导入钱包-导入钱包  start-->
	<div class="addwcontent addwimportwallet" ng-init="import.showtab = 'tabcold'">
		<nav class="tab-bar" ng-controller="topbarController as topbar">
			<section class="left-small">
				<a ng-click="$root.go('walletHome')">
					<img src="./img/chatbackstate.png" />
				</a>
			</section>
			<section class="right-small" ng-show="index.isCordova">
				<qr-scanner ng-show="index.isComplete" on-scan="topbar.onQrCodeScannedAddr(data)" before-scan="topbar.onBeforeScan()"></qr-scanner>
			</section>
			<section class="middle tab-bar-section">
				<h1 class="title ellipsis" translate>
					Import wallet
				</h1>
			</section>
		</nav>
		<div class="tabclicktitle">
			<div class="tab-container" ng-class="{'selected': import.showtab == 'tabcold'}">
				<a ng-click="import.showtab = 'tabcold'" translate>Plain Wallet</a>
			</div>
			<div class="tab-container" ng-class="{'selected': import.showtab == 'tabhot'}">
				<a ng-click="import.showtab = 'tabhot';index.signatureAddr = ''" translate>Hot Wallet</a>
			</div>
		</div>
		<div class="addwcontentin">
			<div ng-if="import.showtab == 'tabcold'" ng-controller="addwalletController as add">
				<div translate>Wallet Seed :</div>
				<textarea placeholder="{{'Enter your mnemonic, separated by spaces'|translate}}" ng-model="add.importcode"></textarea>
				<form name="creatwform"  novalidate>
					<div class="adinputitem" mdinputvalidc>
						<div class="adinputic">
							<div class="adinputimg addwname"></div>
							<input type="text" ng-model="add.addwiname" mdinputname ng-attr-placeholder="{{'Wallet name'|translate}}" autocomplete="off"
							ng-minlength="1" ng-maxlength="20" minlength="1" maxlength="20" />
						</div>
						<p class="adinputp" translate></p>
					</div>
					<div class="adinputitem" mdinputvalidc>
						<div class="adinputic">
							<div class="adinputimg addwpass"></div>
							<input type="password" autocomplete="new-password" name="addwpass" ng-model="add.addwipass" mdinputpass ng-attr-placeholder="{{'Password'|translate}}"
							autocomplete="off" ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18" />
						</div>
						<p class="adinputp" translate></p>
					</div>
					<div class="adinputitem" mdinputvalidc ng-class="{'setErrorexp':creatwform.addwpass.$valid && add.addwirpass !== add.addwipass}">
						<div class="adinputic">
							<div class="adinputimg addwrpass"></div>
							<input type="password" autocomplete="new-password" name="addwrpass" ng-model="add.addwirpass"
							ng-attr-placeholder="{{'Repeat password'|translate}}" autocomplete="off" 
							ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18"
							/>
						</div>
						<p class="adinputpass" translate ng-show="creatwform.addwpass.$valid && add.addwirpass !== add.addwipass">*Inconsistent password</p>
					</div>
					<button class="m40t m15b" ng-click="add.importw()" ng-disabled="!add.importcode || !add.addwipass || !add.addwirpass || creatwform.$invalid || add.addwirpass !== add.addwipass" translate>Start importing</button>
					<div class="size-12 warmcolor" translate>Note: Please be patient while the wallet is recovering. Do not quit the software.</div>
				</form>
			</div>
			<div ng-if="import.showtab == 'tabhot'" ng-controller="importwalletController as import">
				<form name="addressForm" ng-submit="import.generateAddressQRCode()">
				<div translate class="m20b">The hot wallet does not need to import the private key, only the wallet address, for daily viewing of accounts, transactions and acceptance notifications. The private key of large funds is recommended to use cold wallet or hardware wallet management to avoid theft and theft.</div>
				<div class="adinputitem">
					<div class="adinputic">
						<div class="adinputimg">
							<img src="./img/wallet.png" style="width: 18px;">
						</div>
						<input type="text" name="address" style="padding-left: 13px;" ng-model=index.signatureAddr ng-attr-placeholder="{{'Scan or enter your wallet address'|translate}}" ng-required valid-address-or-account>
					</div>
				</div>
				<button type="submit" class="m24b m20t" ng-disabled="addressForm.$invalid || !index.signatureAddr" translate>Start importing</button>
				<div class="size-12 warmcolor" translate>Note: The hot wallet needs a cold wallet to match the signature when sending the transaction. You can use another idle phone, open the flight mode as a cold wallet, import the wallet private key, and match the offline signature.</div>
			</form>
			</div>

		</div>
	</div>
	<!--导入钱包-导入钱包  end-->
</div>