<div ng-controller="importController as import">
    <!--导入钱包-导入钱包  start-->
    <div class="addwcontent addwimportwallet">
        <nav class="tab-bar" ng-controller="topbarController as topbar">
            <section class="left-small">
                <a ng-click="$root.go('walletHome')">
                    <img src="./img/chatbackstate.png" />
                </a>
            </section>
            <section class="middle tab-bar-section">
                <h1 class="title ellipsis" translate>
                    Import wallet
                </h1>
            </section>
        </nav>
        <div class="addwcontentin">
            <div>
                <div translate>Wallet Seed :</div>
                <textarea placeholder="{{'Enter your mnemonic, separated by spaces'|translate}}" ng-model="import.importcode"></textarea>
                <form name="creatwform"  novalidate>
                    <div class="adinputitem" mdinputvalidc>
                        <div class="adinputic">
                            <div class="adinputimg addwname"></div>
                            <input type="text" ng-model="import.addwiname" mdinputname ng-attr-placeholder="{{'Wallet name'|translate}}" autocomplete="off"
                                   ng-minlength="1" ng-maxlength="20" minlength="1" maxlength="20" />
                        </div>
                        <p class="adinputp" translate></p>
                    </div>
                    <div class="adinputitem" mdinputvalidc>
                        <div class="adinputic">
                            <div class="adinputimg addwpass"></div>
                            <input type="password" autocomplete="new-password" name="addwpass" ng-model="import.addwipass" mdinputpass ng-attr-placeholder="{{'Password'|translate}}"
                                   autocomplete="off" ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18" />
                        </div>
                        <p class="adinputp" translate></p>
                    </div>
                    <div class="adinputitem" mdinputvalidc ng-class="{'setErrorexp':creatwform.addwpass.$valid && import.addwirpass !== import.addwipass}">
                        <div class="adinputic">
                            <div class="adinputimg addwrpass"></div>
                            <input type="password" autocomplete="new-password" name="addwrpass" ng-model="import.addwirpass"
                                   ng-attr-placeholder="{{'Repeat password'|translate}}" autocomplete="off"
                                   ng-minlength="1" ng-maxlength="18" minlength="1" maxlength="18"
                            />
                        </div>
                        <p class="adinputpass" translate ng-show="creatwform.addwpass.$valid && import.addwirpass !== import.addwipass">*Inconsistent password</p>
                    </div>
                    <button class="m40t m15b" ng-click="import.recoveryWallet(import.walletId,import.name)" ng-disabled="!import.importcode || !import.addwipass || !import.addwirpass || creatwform.$invalid || import.addwirpass !== import.addwipass" translate>Start importing</button>
                    <div class="size-12 redcolor" translate>Note: Please be patient while the wallet is recovering. Do not quit the software.</div>
                </form>
            </div>

        </div>
    </div>
    <!--导入钱包-导入钱包  end-->
</div>