<div ng-controller="importController as import">
	<!--导入钱包-导入钱包  start-->
	<div class="addwcontent addwimportwallet" ng-init="import.showtab = 'tabcold'">
		<nav class="tab-bar">
			<section class="left-small">
				<a ng-click="$root.go('walletHome')">
					<img src="./img/chatbackstate.png" />
				</a>
			</section>
				<section  ng-controller="topbarController as topbar" class="right-small" >
					<qr-scanner on-scan="topbar.onQrCodeScanned(data)" before-scan="topbar.onBeforeScan()" <img src="./img/scan.png"/>></qr-scanner>
			</section>
			<section class="middle tab-bar-section">
				<h1 class="title ellipsis" translate>
					Import wallet
				</h1>
			</section>
		</nav>
		<div class="importtab">
			<div class="tab-container" ng-class="{'selected': import.showtab == 'tabcold'}">
				<a href ng-click="import.showtab = 'tabcold'" translate>Plain Wallet</a>
			</div>
			<div class="tab-container" ng-class="{'selected': import.showtab == 'tabhot'}">
				<a href ng-click="import.showtab = 'tabhot'" translate>Hot Wallet</a>
			</div>
		</div>
		<div class="addwcontentin">
			<div ng-if="import.showtab == 'tabcold'">
				<div translate>Wallet Seed :</div>
				<textarea placeholder="{{'Enter your mnemonic, separated by spaces'|translate}}" ng-model="import.importcode"></textarea>
				<div class="adinputitem">
					<div class="adinputic">
						<div class="adinputimg">
							<img src="./img/walletnameinput.png">
						</div>
						<input type="text" ng-model="import.addwiname" ng-attr-placeholder="{{'Wallet name'|translate}}">
					</div>
				</div>
				<div class="adinputitem">
					<div class="adinputic">
						<div class="adinputimg">
							<img src="./img/walletpassirinput.png">
						</div>
						<input type="text" ng-model="import.addwipass" ng-attr-placeholder="{{'Password'|translate}}">
					</div>
				</div>
				<div class="adinputitem">
					<div class="adinputic">
						<div class="adinputimg">
							<img src="./img/walletpassinput.png">
						</div>
						<input type="text" ng-model="import.addwirpass" ng-attr-placeholder="{{'Repeat password'|translate}}">
					</div>
				</div>
				<button class="m24b m20t" translate ng-disabled="!import.importcode || !import.addwipass || !import.addwirpass" ng-click="import.importw()">Start importing</button>
				<div class="size-12 redcolor" translate>Note: Please be patient while the wallet is recovering. Do not quit the software.</div>
			</div>
			<div ng-if="import.showtab == 'tabhot'" ng-controller="importwalletController as import">
				<form name="addressForm" ng-submit="import.generateAddressQRCode()">
				<div translate class="m20b">The hot wallet does not need to import the private key, only the wallet address, for daily viewing of accounts, transactions and acceptance notifications. The private key of large funds is recommended to use cold wallet or hardware wallet management to avoid theft and theft.</div>
				<div class="adinputitem">
					<div class="adinputic">
						<div class="adinputimg">
							<img src="./img/walletpassinput.png">
						</div>
						<input type="text" value="{{index.signatureAddr}}" ng-attr-placeholder="{{'Scan or enter your wallet address'|translate}}">
					</div>
				</div>
				<button type="submit" class="m24b m20t" translate>Start importing</button>
				<div class="size-12 redcolor" translate>Note: The hot wallet needs a cold wallet to match the signature when sending the transaction. You can use another idle phone, open the flight mode as a cold wallet, import the wallet private key, and match the offline signature.</div>
			</form>
			</div>

		</div>
	</div>
	<!--导入钱包-导入钱包  end-->
</div>