<div
        class="topbar-container"
        ng-include="'views/includes/topbar.html'"
        ng-init="titleSection='news'; goToNews = true; noColor = true">
</div>
<div ng-controller="newsinController as newsin" class="content newsinc">
  <div class="title">
      {{newsin.newstitle}}
  </div>
  <p ng-bind-html="newsin.newscontent"></p>
  <!--<p ng-bind-html="myText"></p>-->
  <!--<div class="details1">-->
   <!--多行输入人言道“币圈一天，人间一年”，在杠杆交易里，这句话应该改为“币圈一秒，人间一年”，因为杠杆会将收益与风险放大百倍。由于在某交易所用了高杠杆交易，“一只羊”（网名）赔进了近二十年的积蓄。“我看好美国SEC关于ETF的审核 ，做多比特币，谁知道它放量突破后来了个直线回调”，“一只羊”对笔者说，“几秒钟的功夫我就爆仓了，100多万可是我全部身家啊 ”。-->
  <!--</div>-->
  <!--<div class="image1">-->
   <!--<img src="img/background.png">-->
  <!--</div>-->
  <!--<div class="details2">-->
   <!--多行输入人言道“币圈一天，人间一年”，在杠杆交易里，这句话应该改为“币圈一秒，人间一年”，因为杠杆会将收益与风险放大百倍。由于在某交易所用了高杠杆交易，“一只羊”（网名）赔进了近二十年的积蓄。“我看好美国SEC关于ETF的审核 ，做多比特币，谁知道它放量突破后来了个直线回调”，“一只羊”对笔者说，“几秒钟的功夫我就爆仓了，100多万可是我全部身家啊 ”。-->
  <!--</div>-->
  <!--<div class="image2">-->
   <!--<img src="img/background.png">-->
  <!--</div>-->
  <!--<div class="details3">-->
   <!--“几秒钟的功夫我就爆仓了，100多万可是我全部身家啊 ”。-->
  <!--</div>-->
</div>