<div
        class="topbar-container"
        ng-include="'views/includes/topbar.html'"
        ng-init="titleSection='Currency'; goBackToState = true; noColor = true">
</div>


<div class="content preferences" ng-controller="preferencesCurrencyController as prefCoin">
    <ul class="no-bullet m0 ">
        <li ng-repeat="currency in prefCoin.availableCurrenry" ng-click="prefCoin.save(currency.isoCode)">
            <div class="ld">
                <span translate ng-show="prefCoin.currentLanguageName == '中文'">{{currency.name}}</span>
                <span translate ng-show="prefCoin.currentLanguageName == 'English'" >{{currency.enname}}</span>
            </div>
            <div class="rd">
                <img src="./img/right.png" ng-show="index.defaultCurrencyIsoCode == currency.isoCode"/>
            </div>
        </li>
    </ul>
</div>

