<style>
    #binding-drop {
        max-width: 250px;
        left: 15px;
        width: auto !important;
        text-align: left;
        /*line-height: 1em;*/
    }
    input.datafeed_input {
        width: 40%;
        display: inline-block;
    }
    #send .mtab-title, .modal-content .mtab-title {
        padding: 5px;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
    }
    #send .mtab-title.active, .modal-content .mtab-title.active {
        color: #34495E;
    }
    .hor-link {
        max-width: 45%;
        display: inline-block;
        padding: 0 30px;
        line-height: 1em;
    }
    .hor-link:nth-child(2) {
        border-left: 1px solid #E9E9EC;
    }
</style>

<div ng-controller="walletHomeController as home">
    <div class="row columns m20tp" ng-show="index.noFocusedWallet">
        <div class="text-center text-warning m20b">
            <i class="fi-alert"></i> <span translate>You do not have a wallet</span>
        </div>
        <button class="button black round expand" ng-click="$root.go('add')" translate>Create</button>

        <div class="text-center text-gray p20v" ng-click="$root.go('preferences')">
            <button class=" outline round dark-gray tiny" translate> Preferences </button>
        </div>
    </div>

    <div class="onGoingProcess" ng-show="index.isOffline">
        <div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <span translate>Reconnecting to Wallet Service...</span>
        </div>
    </div>


    <div class="onGoingProcess" ng-show="home.onGoingProcess && !index.anyOnGoingProces && !index.isOffline">
        <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            {{home.onGoingProcess|translate}}...
        </div>
    </div>

    <div class="oh" ng-show="!index.noFocusedWallet">

        <!--

        WalletHome

        -->

        <div id="walletHome" class="walletHome tab-view tab-in">
            <a class="opensidebara" ng-click="index.openMenu()"><img src="./img/indexmenu.png" /></a>
            <div style="position:absolute; width: 100%; left: 0px; top: 15px; text-align: center; color: white; z-index: 1" ng-if="home.isTestnet">{{home.testnetName}}</div>
            <div class="oh">
                <div class="amount"  ng-swipe-right="index.suspendSwipe()" ng-init="index.updateTxHistory(3)">
                    <div ng-if="!index.anyOnGoingProcess || 1">
                        <div ng-show="index.updateError" ng-click='index.openWallet(); index.updateTxHistory(3)'>
                            <span class="size-12 db m10b">{{index.updateError|translate}}</span>
                            <button class="outline white tiny round" translate>Tap to retry</button>
                        </div>

                        <div ng-show="index.walletScanStatus == 'error'" ng-click='index.retryScan()'>
                            <span translate>Scan status finished with error</span>
                            <br><span translate>Tap to retry</span>
                        </div>
                        <!--former carousel start...-->
                        <div>
                            <div class="whlinfo">
                                <img class="whlogo" src="{{index.image}}"/>
                                <span class="whname">{{ (index.alias || index.walletName)}}</span>
                                <span class="whpback" ng-show="index.needsBackupa" ng-click="$root.go('backup');index.backhome = true;" translate>Please backup</span>
                                <img class="whewm" ng-click="$root.go('receive')" src="./img/lewm.png"/>
                            </div>
                            <div class="whamount"><div>{{index.ammountTatol}}</div> INVE</div>
                        </div>
                        <!--former carousel end...-->
                    </div>

                    <div ng-if="index.anyOnGoingProcess && 0">
                        <div class="size-36">
                            <strong>...</strong>
                        </div>
                    </div>
                </div> <!-- amount -->
            </div> <!-- oh -->



            <div ng-if="index.txps[0]">
                <h4 ng-show="index.requiresMultipleSignatures" class="title m0" translate>Payment Proposals</h4>
                <h4 ng-show="!index.requiresMultipleSignatures" class="title m0" translate>Unsent transactions</h4>
                <div class="last-transactions pr" ng-repeat="tx in index.txps"
                     ng-include="index.txTemplateUrl">
                </div>

                <div class="text-gray text-center size-12 p10t"
                     ng-show="index.lockedBalanceBytes && !index.updatingStatus">
                    <span translate>Total Locked Balance</span>:
                    <b>{{index.lockedBalanceStr}} </b>
                </div>
            </div>
            <!--

            history

            -->

            <div  class="history" ng-init="index.updateTxHistory(3)">

                <div ng-show="!index.txHistory[0] && !index.updatingTxHistory[index.walletId]">

                    <div class="text-center">

                        <div class="p15h m24t" ng-show="index.txHistoryError" ng-click='index.updateTxHistory(3)'>

                            <p class="graytext m40b" translate>Could not fetch transaction history</p>

                            <button translate>Tap to retry</button>

                        </div>

                        <div class="m40t" ng-if="!index.txHistoryError" translate>

                            <img src="./img/notx.png" />

                            <div class="graytext m24t" translate>No transactions yet</div>

                        </div>

                    </div>

                </div>

                <!-- <div class="row m20t text-center" ng-show="index.updatingTxHistory[index.walletId]">

                    <div class="columns large-12 medium-12 small-12">

                        <div class="spinner">

                        <div class="rect1"></div>

                        <div class="rect2"></div>

                        <div class="rect3"></div>

                        <div class="rect4"></div>

                        <div class="rect5"></div>

                        </div>

                    </div>

                    <div ng-show="index.txProgress > 6" translate class="size-12 text-gray m20t">

                        Initial transaction history synchronization can take some minutes for wallets with many transactions.<br/>

                        Please stand by.

                    </div>

                    <div ng-show="index.txProgress > 6" class="size-14 text-gray m20t">

                        <b>{{index.txProgress}}</b>

                        <span translate>Transactions<br> Downloaded</span>

                    </div>

                </div> -->



                <div class="histxdetail" ng-show="index.txHistory[0]">

                    <div ng-repeat="btx in index.txHistory"

                         ng-click="home.openTxModal(btx)"

                         class="last-transactions-content">

                        <div class="histop">
                            <div class="histopl" ng-show="btx.action == 'received'">
                                <img src="./img/received.png"><span translate>Received</span>
                            </div>
                            <div class="histopl" ng-show="btx.action == 'sent'&& btx.confirmations != 'pending'">
                                <img src="./img/sent.png"><span translate>Sent</span>
                            </div>
                            <div class="histopl" ng-show="btx.action == 'moved'">
                                <img src="./img/sent.png"><span translate>Moved</span>
                            </div>
                            <div class="histopl" ng-show="btx.action == 'invalid'">
                                <img src="./img/sent.png"><span translate>Invalid</span>
                            </div>
                            <div class="histopl" ng-show="btx.confirmations == 'pending' && btx.action == 'sent' " >
                                <img src="./img/sent.png"><span translate>Pending</span>
                            </div>
                            <div class="histopr">
                                <time ng-if="btx.time">{{btx.time * 1000 | amTimeAgo}}</time>
                                <span translate class="text-warning" ng-show="!btx.time && (!btx.confirmations || btx.confirmations == 0)">
                                        Unconfirmed
                                    </span>
                            </div>
                        </div>
                        <div class="hisbottom">
                            <span class="hisbramount" ng-if="btx.action == 'received'">+{{btx.amountTl}}<span class="hisunit">INVE</span></span>

                            <span class="hisbsamount" ng-if="btx.action == 'sent'">-{{btx.amountTl}}<span class="hisunit">INVE</span></span>

                            <span  class="size-12" ng-if="btx.action == 'invalid'" translate>
        
                                    (possible double spend)
        
                                </span>
                        </div>

                        <!-- <div class="size-14 text-gray columns m5t" ng-if="btx.message || btx.addressTo">
                        <div ng-show="btx.message"><span translate>Note</span>: {{btx.message}}</div>
                        <div ng-show="!btx.message">
                            <span translate>To</span>: {{index.addressbook[btx.addressTo] || btx.addressTo}}
                        </div>
                        <span ng-show="btx.textAddress || btx.original_address" class="small-10">
                            <span>{{index.getToAddressLabel(btx.textAddress || btx.original_address)}}</span>: {{index.getAddressValue(btx.textAddress || btx.original_address)}}
                        </span>
                        <span ng-show="btx.isTextcoin" class="small-2 right">
                            <span class="label tu light-gray radius">textcoin</span>
                        </span>
                        </div> -->
                    </div>

                    <div class="row m20t text-center" ng-show="index.historyRendering">

                        <div class="columns large-12 medium-12 small-12">

                            <div class="spinner">

                                <div class="rect1"></div>

                                <div class="rect2"></div>

                                <div class="rect3"></div>

                                <div class="rect4"></div>

                                <div class="rect5"></div>

                            </div>

                        </div>

                    </div>
                    <button type="submit" ng-show="index.historyShowShowAll" ng-click="index.showAllHistory()" translate>

                        Show all

                    </button>
                    <!--<div class="row m20t">

                           <div class="large-6 medium-6 small-6 columns">



                           </div>

                           <div class="large-6 medium-6 small-6 columns" ng-show="!index.isCordova">

                           <input id="export_file" type="file" nwsaveas="Byteball-{{index.alias || index.walletName}}.csv" accept=".csv" style="display:none">

                           <a class="button outline dark-gray round" ng-click="index.csvHistory();">

                               <i class="fi-page-export-csv"></i>

                               <span translate>Download CSV file</span>

                           </a>

                           </div>

                       </div>-->
                </div>

            </div> <!-- END History -->
        </div> <!-- END WalletHome -->

        <!--

        news

        -->




        <div id="news" class="news tab-view" ng-init="index.newsData();index.quickData();">
            <nav ng-controller="topbarController as topbar" class="tab-bar">
                <section class="middle tab-bar-section">
                    <h1 class="title ellipsis" translate>News</h1>
                </section>
            </nav>
            <div class="tabclicktitle">
                <div class="tab-container" ng-class="{'selected': index.shownewstab == 'new1'}">
                    <a ng-click="index.shownewstab = 'new1';index.newsanimate = index.newsanimate + 1;" translate>Newest</a>
                </div>
                <div class="tab-container" ng-class="{'selected': index.shownewstab == 'new2'}">
                    <a ng-click="index.shownewstab = 'new2';index.quickanimate = index.quickanimate + 1;" translate>Newsletter</a>
                </div>
                <div class="tab-container" ng-class="{'selected': index.shownewstab == 'new3'}">
                    <a ng-click="index.shownewstab = 'new3';index.coinanimate = index.coinanimate + 1;" translate>Quotes</a>
                </div>
            </div>
            <div class="addwcontent" ng-if="index.shownewstab == 'new1'" id="new1tab" homescrolled="index.loadmore('new1tab', 'new1tablist')">
                <div ng-if="index.newslist == ''" class="nonews">
                    <div class="nonewsin">
                        <img src="./img/nonews.png" />
                        <div class="nonewsintext">暂无新鲜内容</div>
                    </div>
                </div>
                <div class="newslist" ng-if="index.newslist !== ''" id="new1tablist" ng-class="{'animated bounceInUp': index.newsanimate <= 1}">
                    <div class="item" ng-repeat="item in index.newslist track by $index">
                        <img src="{{item.coverPath}}" ng-click="home.gonewsin(item.id)" />
                        <div class="info">
                            <div class="title" ng-click="home.gonewsin(item.id)" >{{item.title}}</div>
                            <div class="litinfo">
                                <div class="time">{{item.type}} <span>{{item.publishTime}}</span></div>
                                <div class="browse">{{item.pageviews}} <span translate>views</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="index.shownonews" class="nomorenews"><img src="./img/nomore.png" />暂无更多内容</div>
                <div ng-show="index.shownewsloading" class="shownewsloading"><img src="./img/loading.png" />加载中</div>
            </div>
            <div class="addwcontent" ng-if="index.shownewstab == 'new2'" id="new2tab" homescrolled="index.loadmore('new2tab', 'new2tablist')">
                <div ng-if="index.quicklistshow == ''" class="nonews">
                    <div class="nonewsin">
                        <img src="./img/nonews.png" />
                        <div class="nonewsintext">暂无新鲜内容</div>
                    </div>
                </div>
                <div class="letterlist" ng-if="index.quicklistshow !== ''" id="new2tablist" >
                    <div class="datenow">{{index.getweekginglee}}</div>
                    <div class="itemin" ng-class="{'animated bounceInUp': index.quickanimate <= 2}" ng-repeat="(key,item) in index.quicklist track by $index">
                        <div class="date">{{key}}</div>
                        <div class="itemlr" ng-repeat="itemin in item">
                            <div class="item">
                                <div class="time">{{itemin.greentime}}</div>
                                <div class="info">
                                    <div class="title">{{itemin.title}}</div>
                                    <div class="desc">
                                        {{itemin.content}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="index.shownoquick" class="nomorenews"><img src="./img/nomore.png" />暂无更多内容</div>
                <div ng-show="index.showquicksloading" class="shownewsloading"><img src="./img/loading.png" />加载中</div>
            </div>
            <div class="addwcontent" ng-if="index.shownewstab == 'new3'" id="new3tab" homescrolled="index.loadmore('new3tab', 'new3tablist')">
                <div ng-if="index.coinlist == ''" class="nonews">
                    <div class="nonewsin">
                        <img src="./img/nonews.png" />
                        <div class="nonewsintext">暂无新鲜内容</div>
                    </div>
                </div>
                <div class="quotelist" ng-if="index.coinlist !== ''" id="new3tablist" ng-class="{'animated bounceInUp': index.coinanimate <= 2}">
                    <div class="titlelabel">
                        <div class="numall" translate>Market value</div>
                        <div class="price" translate>Price</div>
                        <div class="gains" translate>Latest gains</div>
                    </div>
                    <div class="itemin" ng-repeat="item in index.coinlist track by $index">
                        <div class="item">
                            <div class="leftcoininfo">
                                <div class="coinimg">
                                    <img src="{{item.iconUrl}}" />
                                    <span class="nameshort">{{item.currency}}</span>
                                </div>
                                <div class="numallin">市值：¥ <span>176.78</span>亿 <span class="name">瑞波币</span></div>
                            </div>
                            <div class="pricein" ng-class="{ 'priceblue': item.change > 0, 'pricered': item.change < 0}">¥{{item.price}}</div>
                            <div class="gainsin" ng-if="item.change == 0"><div class="gainsinfo"><span>{{item.change}}</span></div></div>
                            <div class="gainsin priceblue" ng-if="item.change > 0"><div class="gainsinfo"><span>{{item.change}}</span></div></div>
                            <div class="gainsin pricered" ng-if="item.change < 0"><div class="gainsinfo"><span>{{item.change}}</span></div></div>
                        </div>
                    </div>
                </div>
                <div ng-show="index.shownewsloading" class="shownewsloading">加载动画</div>
            </div>
        </div>

        <!-- END news -->



        <!--

        send

        -->
        <div id="send" class="send tab-view" ng-init="assetIndexSelectorValue=0;home.shownForm='payment'">
            <nav ng-controller="topbarController as topbar" class="tab-bar">
                <section class="right-small" ng-show="index.isCordova">
                    <qr-scanner ng-show="index.isComplete" on-scan="topbar.onQrCodeScanned(data)" before-scan="topbar.onBeforeScan()"></qr-scanner>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title ellipsis" translate>Transaction</h1>
                </section>
            </nav>

            <div ng-show="home.shownForm=='payment'">
                <form class="sendform" name="sendPaymentForm" ng-submit="home.submitPayment(sendPaymentForm)"  novalidate>
                    <div class="box-notification" ng-show="home.error" ng-click="home.resetError()">
                      <span class="text-warning">
                        {{home.error|translate}}
                      </span>
                        <a class="close-notification text-warning">&#215;</a>
                    </div>
                    <div ng-hide="home.hideAmount">
                        <div>
                            <div>
                                <div class="adcpitem">
                                    <div mdinputc class="adcpmdic">
                                        <label translate>Address</label>
                                        <input mdinput type="text" id="address" name="address" ng-disabled="home.blockUx || home.lockAddress || index.arrBalances[index.assetIndex].is_private"
                                               ng-model="_address" maxlength="32" ng-required valid-address-or-account ng-focus="home.formFocus('address')" ng-blur="home.formFocus(false)">
                                        <a class="postfix size-12 m0 text-gray" ng-click="openDestinationAddressModal(index.otherWallets, _address)">
                                            <img src="./img/address.png" />
                                        </a>
                                    </div>
                                </div>
                                <div class="adcpitem">
                                    <div mdinputc class="adcpmdic">
                                        <label translate>Amount</label>
                                        <input mdinput type="text" type="number" id="amount" ng-disabled="home.blockUx || home.lockAmount || home.bSendAll"
                                               name="amount" maxlength="18" ng-model="_amount"
                                               valid-amount="{{index.arrBalances[index.assetIndex].asset}}" ng-required="!home.bSendAll && !home.send_multiple"
                                               autocomplete="off" ng-focus="home.formFocus('amount')" ng-blur="home.formFocus(false)">
                                        <a class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].asset === 'base'">INVE</a>
                                        <a class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].asset === index.BLACKBYTES_ASSET">INVE</a>
                                        <a class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].name">INVE</a>
                                        <a class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].asset !== 'base' && index.arrBalances[index.assetIndex].asset !== index.BLACKBYTES_ASSET && !index.arrBalances[index.assetIndex].name">of {{index.arrBalances[index.assetIndex].asset.substr(0,4)}}</a>
                                        <!-- <div ng-hide="sendPaymentForm.amount.$pristine && !sendPaymentForm.amount.$modelValue ">
                                            <span class="has-error right size-12" ng-if="sendPaymentForm.amount.$invalid">
                                            <i class="icon-close-circle size-14"></i>
                                            <span class="vm" translate>Not valid</span>
                                            </span>
                                            <small class="text-primary right" ng-if="!sendPaymentForm.amount.$invalid">
                                                <i class="icon-checkmark-circle size-14"></i>
                                            </small>
                                        </div> -->
                                    </div>
                                </div>
                                <label for="amount" class="sendinfo">
                                    <span translate ng-if="!home.send_multiple"><span translate>Available amount</span>: {{index.ammountTatol}}</span>
                                    <span translate ng-if="home.send_multiple">Total amount: {{index.ammountTatol}}</span>
                                    <a ng-click="home.setSendAll()" ng-show="!home.bSendAll && !home.lockAmount" translate>Send all</a>
                                </label>
                                <div ng-show="!home.onGoingProcess" class="m30t">

                                    <!--<button type="submit" class="m20t" ng-if="mtab == 1" ng-disabled="home.current_payment_key || sendPaymentForm.$invalid || home.blockUx || index.isOffline || !index.isEnoughSignersSelected()"-->
                                    <!--ng-style="{'background-color':index.backgroundColor}"  translate>-->
                                    <!--Send-->
                                    <!--</button>-->
                                    <button type="submit" class="m20t m20b" ng-if="mtab == 1" ng-disabled="sendPaymentForm.$invalid" translate>
                                        Send
                                    </button>
                                    <a class="sendcancel" ng-click="home.resetForm(sendPaymentForm)"
                                       ng-show="!home.blockUx && !home.send_multiple && (home.lockAddress || home.lockAmount || home.bSendAll)" translate>Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- END Send -->
        <!--

        Wallet

        -->
        <div id="wallet" class="history tab-view">
            <nav ng-controller="topbarController as topbar" class="tab-bar">
                <section class="right-small">
                    <a ng-click="$root.go('preferencesGlobal')">
                        <img src="./img/setting.png" />
                    </a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title ellipsis" translate>Wallet</h1>
                </section>
            </nav>

            <div class="adwwto">
                <div class="adwwt" ng-repeat="item in index.walletInfo track by $index">
                    <div class="adwwtflex" ng-click="index.towalletname(item.image, item.walletName, item.address, item.stables, item.wallet, item.mnemonic, item.mnemonicEncrypted)">
                        <div class="adwwtlogo"><img src="{{item.image}}"></div>
                        <div class="adwwt100">
                            <div class="adwwtname">{{item.walletName}}
                                <span class="whpback" ng-show="item.mnemonic || item.mnemonicEncrypted" ng-click="$root.go('backup');index.backwallet=true" translate>Please backup</span>
                            </div>
                            <div class="adwwtaddr">{{item.address}}</div>
                        </div>
                        <img class="moreimg" src="./img/more.png"/>
                    </div>
                    <div class="adwwtnum fontbold size-20">
                        {{item.stables}}<span class="greencolor fontbold size-14">INVE</span>
                    </div>
                </div>
                <button class="m20b" ng-click="$root.go('addwallet')" translate>Creat wallet</button>
                <button class="awbtn" ng-click="$root.go('import');index.signatureAddr = ''" translate>Import wallet</button>
                <!--<button ng-click="index.showshadow = true;">冷钱包验证码</button>-->
            </div>
        </div> <!-- END wallet -->

        <div id="{{view.id}}" class="{{view.class}} tab-view tab-out" ng-repeat="view in index.addonViews" ng-include="view.template">
        </div>

    </div>
</div>
<div class="extra-margin-bottom"></div>
<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>
