<div
        class="topbar-container"
        ng-include="'views/includes/topbar.html'"
        ng-init="titleSection='Backup'; goToWallet = true">
</div>

<div class="content" ng-controller="walletnameaController as nameW">
    <div class="adwnnumo">
        <div class="adwnnum">
            <i class="icon-scan size-60"></i>
            <b>{{nameW.ammount}}INVE</b>
            <p>{{nameW.addr}}</p>
        </div>
        <div class="adwnlinput">
            <label>钱包名</label>
            <input placeholder="{{nameW.name}}" />
        </div>
        <div ng-click="$root.go('walletnamea.changewalletp')">
            修改密码
        </div>
        <button ng-show="nameW.mnemonic || nameW.mnemonicEncrypted" ng-click="$root.go('backup')">备份助记词</button>
        <button>删除钱包</button>
    </div>

</div>

