<div ng-controller="walletnameaController as nameW" class="secondcontent">
    <!-- header start -->
    <!-- <div
            class="topbar-container"
            ng-include="'views/includes/topbar.html'"
            ng-init="titleSection=nameW.name; goToWallet = true;walletsave = true;">
    </div> -->
    <nav ng-controller="topbarController as topbar" class="tab-bar">
        <section class="right-small">
            <button ng-click="nameW.changeWalletName(nameW.walletId)" class="greencolor size-14" 
            ng-disabled="!nameW.name || nameW.name.length < 5 || nameW.name.length > 18"><span translate>Save</span></button>
        </section>
        <section class="left-small">
            <a  ng-click="topbar.goWallet();goToWallet = null;index.backwallet = false;">
                 <img src="./img/chatbackstate.png" />
             </a>
        </section>
        <section class="middle tab-bar-section">
            <h1 class="title ellipsis" translate>{{nameW.name}}</h1>
        </section>
    </nav>
    <!-- header end -->
    <div class="adwnnumo">
        <div class="adwnnum">
            <div class="adwnlogo"><img src="{{nameW.image}}"></div>
            <div class="adwnnumamt"><span>{{nameW.ammount}}</span>INVE</div>
            <div class="adwnaddr"><span>{{nameW.addr}}</span></div>
        </div>
    </div>
    <form name="changeName">
        <ul class="adwnlinput">
            <li class="adwninput">
                <div class="limg">
                    <img src="./img/winname.png" />
                </div>
                <span translate>Wallet name</span>
                <input name="name" ng-model="nameW.name" ng-minlength="1" ng-maxlength="20" minlength="1" maxlength="20"/>
            </li>
            <li ng-click="nameW.goChangeWalletpassWord(nameW.walletId, nameW.addr, nameW.name, nameW.image, nameW.ammount)">
                <div class="ld">
                    <div class="limg">
                        <img src="./img/winpass.png" />
                    </div>
                    <span translate>Change password</span>
                </div>
                <div class="rd">
                    <img src="./img/more.png" />
                </div>
            </li>
        </ul>
    </form>
    <div class="btngroup">
        <button class="m20b" ng-show="nameW.mnemonic || nameW.mnemonicEncrypted" ng-click="nameW.gobackup(nameW.image, nameW.name, nameW.addr, nameW.ammount, nameW.walletId, nameW.mnemonic, nameW.mnemonicEncrypted);index.backwaname = true;" translate>Backup mnemonic</button>
        <button class="awbtn" ng-click="nameW.deleteWallet(nameW.walletId,nameW.name)" translate>Delete wallet</button>
    </div>
    <div ng-if="nameW.showconfirm" class="popconfirm">
        <div class="popmask" ng-click="nameW.showconfirm = false;"></div>
        <div class="popcontent">
            <div class="fleximgtextc m20b p25h">
                <img src="./img/qdeletecode.png">
                <div translate class="size-16 redcolor">Are you sure you want to delete the wallet?</div>
            </div>
            <p class="poptips p25h" translate>After the wallet is deleted, it must be logged by mnemonic to ensure that the mnemonic has been backed up. Do you want to continue deleting?</p>
            <div class="p25h popbutton">
                <button ng-click="nameW.truedeleteWallet(nameW.walletId, nameW.name);" translate>Confirm</button>
                <button class="awbtn" ng-click="nameW.showconfirm = false;" translate>Cancel</button>
            </div>
        </div>
    </div>
</div>

