<div ng-controller="walletnameaController as nameW" class="secondcontent">
    <div
            class="topbar-container"
            ng-include="'views/includes/topbar.html'"
            ng-init="titleSection=nameW.name; goToWallet = true;walletsave = true;">
    </div>
    <div class="adwnnumo">
        <div class="adwnnum">
            <div class="adwnlogo"></div>
            <div class="adwnnumamt"><span>{{nameW.ammount}}</span>INVE</div>
            <div class="adwnaddr"><span>{{nameW.walletid}}</span><img ng-click="" src="./img/lewm.png"/></div>
        </div>
    </div>
    <ul class="adwnlinput">
        <li class="adwninput">
            <div class="limg">
                <img src="./img/winname.png" />
            </div>
            <span>钱包名</span>
            <input placeholder="{{nameW.name}}" />
        </li>
        <li ng-click="$root.go('walletnamea.changewalletp')">
            <div class="ld">
                <div class="limg">
                    <img src="./img/winpass.png" />
                </div>
                <span>修改密码</span>
            </div>
            <div class="rd">
                <img src="./img/more.png" />
            </div>
        </li>
    </ul>
    <div class="btngroup" ng-controller="preferencesDeleteWalletController as predelte">
        <button class="m20b" ng-show="nameW.mnemonic || nameW.mnemonicEncrypted" ng-click="nameW.gobackup(nameW.name, nameW.addr, nameW.ammount, nameW.walletid, nameW.mnemonic, nameW.mnemonicEncrypted);index.backwaname = true;">备份助记词</button>
        <button class="awbtn" ng-click="predelte.deleteWallet(nameW.walletid)">删除钱包</button>
    </div>
</div>

