<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="cancel()">
        <img src="./img/chatbackstate.png">
    </a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" translate>
      Request a specific amount
    </h1>
  </section>
</nav>

<div class="fix-modals-touch receivelr content" ng-show="amountInSmallestUnits" >
  <div class="addcusamount">
    <div class="addreceive">
      <div class="size-14 addreceiveimgpr">
        <div class="addcusamountimg"><img src="./img/addreceivingamount.png" /></div>
      </div>
      <div class="amounttranqrtitler" ><span translate>Amount</span>：<span>{{_customAmount}}</span>&nbsp;&nbsp;INVE</div>

      <!-- 地址二维码 -->
      <div class="code" >
        <div class="box-notification" ng-show="home.addrError">
          <span class="text-warning">{{home.addrError|translate}}</span>
        </div>
        <div class="text-center"
            ng-click="home.copyAddress(index.shared_address || home.addr[index.walletId])"
            ng-show="home.addr[index.walletId] || home.generatingAddress">
          <qrcode size="220"
              data="{{home.protocol}}:{{index.shared_address || home.addr[index.walletId] + '?amount=' + amountInSmallestUnits + asset_param}}"></qrcode>
          <div ng-show="home.generatingAddress" class="coderect">
            <div class="coderectin">
              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center" >
        <h4 ng-class="{'enable_text_select': !index.isCordova}" class="addcodeh4">
          {{index.shared_address || (home.generatingAddress ? '...' :
          home.addr[index.walletId])}}
        </h4>
      </div>
    </div>
      <button ng-show="index.isCordova" class="m40t" ng-click="home.shareAddress(home.addr[index.walletId])" ng-disabled="loading" ><span translate>Share address</span></button>
    </div>
  </div>
</div>
<div class="fix-modals-touch" ng-show="!amountInSmallestUnits">
  <div class="f9fafch"></div>
  <form name="amountForm" ng-submit="submitForm(amountForm)" novalidate class="ammountlr">
    <!-- 提示 -->
    <!-- <div class="right" ng-hide="amountForm.amount.$pristine && !amountForm.amount.$modelValue ">
      <span class="has-error right size-12" ng-if="amountForm.amount.$invalid">
        <i class="icon-close-circle size-14"></i>
        <span clas="vm" translate>Not valid</span>
      </span>
      <small class="text-primary right" ng-if="!amountForm.amount.$invalid">
        <i class="icon-checkmark-circle size-14"></i>
      </small>
    </div> -->
    <div class="p15h">
        <!-- Amount -->
        <div class="adcpitem" style="margin-top: 16px;">
          <div mdinputc class="adcpmdic">
              <label translate mdlabel for="label">Amount</label>
              <input mdinput type="text" id="amount" name="amount" ng-maxlength="18" maxlength="18"
                      ng-model="_customAmount" valid-amount="{{index.arrBalances[index.assetIndex].asset}}" required autocomplete="off" >
              <a class="postfix" ng-if="index.arrBalances[index.assetIndex].asset === 'base'">{{unitName}}</a>
              <a class="postfix" ng-if="index.arrBalances[index.assetIndex].asset === index.BLACKBYTES_ASSET">{{bbUnitName}}</a>
              <a class="postfix" ng-if="index.arrBalances[index.assetIndex].name">{{index.arrBalances[index.assetIndex].name}}</a>
              <a class="postfix" ng-if="index.arrBalances[index.assetIndex].asset !== 'base' && index.arrBalances[index.assetIndex].asset !== index.BLACKBYTES_ASSET && !index.arrBalances[index.assetIndex].name">of {{index.arrBalances[index.assetIndex].asset.substr(0,4)}}</a>
          </div>
      </div>
      <button type="submit" ng-disabled="amountForm.$invalid" translate class="m24t">
        {{buttonLabel}}
      </button>
    </div>
  </form>
</div>