<nav class="tab-bar">
  <section class="left-small">
    <a ng-click="cancel()" class="p10">
      <span class="text-close" translate>Close</span>
    </a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title ellipsis" ng-style="{'color':color}" translate>
      Sign message
    </h1>
  </section>
</nav>


<div class="modal-content fix-modals-touch">
	
	<h4 class="title m0" translate>Message:</h4>
	<div class="m10b m10t size-14" >
		{{message_to_sign}}
	</div>
	
	<h4 class="title m0" translate>Signing address:</h4>
	<div class="m10b m10t size-14" >
		{{address}}
	</div>
	
	<div class="" ng-show="index.m < index.n && index.m > 1">
		<h4 class="title m0" translate>Who signs:</h4>
		<div>
			<cosigners></cosigners>
		</div>
    </div>
	
	<div ng-if="error">
		<span class="has-error size-12">
			{{error}}
		</span>
	</div>
	
  <div class="m20t">
    <div>
        <!--<button type="submit" class="button black round expand" ng-disabled="bDisabled || !index.isEnoughSignersSelected()" ng-style="{'background-color':color}" ng-click="signMessage()" translate>-->
        <button type="submit" class="button black" ng-disabled="bDisabled || !index.isEnoughSignersSelected()" ng-style="{'background-color':color}" translate>
        Sign
        </button>
    </div>
  </div>

</div>
