<nav class="tab-bar">

    <section class="left-small">
  
      <a ng-click="cancel()">
  
          <img src="./img/chatbackstate.png" />
  
      </a>
  
    </section>
  
    <section class="middle tab-bar-section">
  
      <h1 class="title ellipsis" ng-style="{'color':color}" translate>
  
        Transaction Details
  
      </h1>
  
    </section>
  
  </nav>
  
  
  
  <div class="modal-content fix-modals-touch txcontent">
  
    <div class="text-center enable_text_select">
  
      <div class="size-45" ng-show="btx.action != 'invalid'">
  
          <div class="txheader txreceive" ng-if="btx.action == 'received'">
  
            <div class="ellisamout"><span>+</span>{{btx.amountTl}}</div>
  
            <div class="txunit">INVE</div>
  
          </div>
  
          <div class="txheader txsent" ng-if="btx.action == 'sent'">

            <div class="ellisamout"><span>-</span>{{btx.amountTl}}</div>
  
            <div class="txunit">INVE</div>
  
          </div>
  
          <div class="size-14" ng-if="btx.asset === 'base' && exchangeRates.GBYTE_USD">
  
            ≈ {{ btx.action == 'sent' ? '-' : '+'}} ${{ (btx.amount * exchangeRates.GBYTE_USD / 1e9).toLocaleString([], {maximumFractionDigits: 2}) }}
  
          </div>
  
          <div class="size-14" ng-if="btx.asset === BLACKBYTES_ASSET && exchangeRates.GBB_USD">
  
            ≈ {{ btx.action == 'sent' ? '-' : '+'}} ${{ (btx.amount * exchangeRates.GBB_USD / 1e9).toLocaleString([], {maximumFractionDigits: 2}) }}
  
          </div>
  
      </div>
  
      <div class="size-45" ng-show="btx.action == 'invalid'">
  
        -
  
      </div>
  
    </div>
  
  
  
    <ul class="no-bullet size-12 m0 txul enable_text_select">

      <li class="txli">

        <span class="ultitle" translate>Amount</span>

        <div class="txulinfo">{{btx.amountTl}}</div>

      </li>
  
      <li ng-if="!btx.hasMultiplesOutputs && btx.addressTo && btx.addressTo != 'N/A'" class="txli" ng-click="copyAddress(btx.addressTo)">
  
        <span class="ultitle" translate>To</span>
  
        <span class="txulinfo">
  
          <span ng-if="btx.merchant">
  
            <span ng-show="btx.merchant.pr.ca"><i class="fi-lock color-greeni"></i> {{btx.merchant.domain}}</span>
  
            <span ng-show="!btx.merchant.pr.ca"><i class="fi-unlock color-yellowi"></i> {{btx.merchant.domain}}</span>
  
          </span>
  
          <span ng-if="!btx.merchant">
  
            <span ng-show="btx.labelTo">{{btx.labelTo}}</span>
  
            <contact ng-show="!btx.labelTo" class="enable_text_select" address="{{btx.addressTo}}"></contact>
  
          </span>
  
        </span>
  
      </li>
  
  
  
      <li ng-if="btx.textAddress || btx.original_address" class="txli" ng-click="copyAddress(btx.textAddress || btx.original_address)">
  
        <span class="ultitle">{{getToAddressLabel(btx.textAddress || btx.original_address)}}</span>
  
        <span class="txulinfo">
  
          <contact class="enable_text_select" address="{{getAddressValue(btx.textAddress || btx.original_address)}}"></contact>
  
        </span>
  
      </li>
  
  
  
      <li ng-show="btx.hasMultiplesOutputs" class="txli" 
  
        ng-click="showMultiplesOutputs = !showMultiplesOutputs">
  
        <span class="ultitle" translate>Recipients</span>
  
        <span class="txulinfo">{{btx.recipientCount}}
  
          <i ng-show="showMultiplesOutputs" class="icon-arrow-up3 size-24"></i>
  
          <i ng-show="!showMultiplesOutputs" class="icon-arrow-down3 size-24"></i>
  
        </span>
  
      </li>
  
      
  
      <li ng-if="btx.action == 'received'" class="txli">
  
        <span class="ultitle" translate>From</span>
  
        <div class="txulinfo">{{btx.addressFrom}}</div>
  
      </li>
  
  
  
      <!--<li ng-if="btx.action == 'received'" class="txli">
  
        <div class="ultitle"><span translate>To</span>:</div>
  
      <div class="rtxulinfoight">{{btx.my_address}}</div>
  
      </li>-->
  
  
  
      <div class="line-b" ng-show="btx.hasMultiplesOutputs && showMultiplesOutputs"
  
        ng-repeat="output in btx.outputs"
  
        ng-include="'views/includes/output.html'">
  
      </div>
  
  
  
      <li ng-show="btc.message" class="txli">
  
        <span class="ultitle" translate>Note</span>
  
        <span class="txulinfo">{{btx.message}}</span>
  
      </li>
  
      
  
      <li ng-if="btx.action == 'invalid'" class="txli">
  
      <span class="ultitle" translate>
  
        This transaction has become invalid; possibly due to a double spend attempt.
  
      </span>
  
      </li>
  
      <li ng-if="btx.time" class="txli">
  
      <span class="ultitle" translate>Date</span>
  
      <span class="txulinfo">
  
        <time>{{ btx.time * 1000 | amDateFormat:'MM/DD/YYYY HH:mm a'}}</time>
  
        <time>({{ btx.time * 1000 | amTimeAgo}})</time>
  
      </span>
  
      </li>
  
      <li class="txli" ng-show="btx.action != 'received'">
  
        <span class="ultitle" translate>Fee</span>
  
        <span class="txulinfo">{{btx.feeStr + (exchangeRates.GBYTE_USD ? ' (≈ $'+(btx.fee * exchangeRates.GBYTE_USD / 1e9).toLocaleString([], {maximumFractionDigits: 5})+')' : '') }}</span>
  
      </li>
  
      <li class="txli">
  
        <span class="ultitle">Unit</span>
  
        <div class="txulinfo"><a ng-click="openInExplorer()" class=" ">{{btx.unit}}</a></div>
  
      </li>
  
      <li class="txli" ng-if="btx.message && btx.action != 'received'">
  
        <span class="ultitle" translate>Note</span>
  
        <span class="txulinfo">{{btx.message}}</span>
  
      </li>
  
      <li ng-if="btx.merchant" class="txli">
  
      <span class="ultitle" translate>Merchant message</span>
  
      <span class="txulinfo">
  
        {{btx.merchant.pr.pd.memo}}
  
      </span>
  
      </li>
  
      <li ng-if="btx.time" class="txli">
  
      <span class="ultitle" translate>Finality</span>
  
      <span class="txulinfo" >
  
        <span class="text-warning" ng-show="!btx.confirmations || btx.confirmations == 0 || btx.confirmations == 'pending'" translate>
  
          Unconfirmed
  
        </span>
  
        <span  ng-show="btx.confirmations != 'pending'" translate>
  
          Confirmed
  
        </span>
  
   
  
      </span>
  
      </li>
  
  
  
      <li ng-if="btx.isTextcoin" class="txli">
  
        <span class="ultitle" translate>Was claimed?</span>
  
        <span class="txulinfo" >
  
          <span class="text-warning" ng-show="!btx.claimed" translate>
  
            not claimed
  
         </span>
  
          <span ng-show="!btx.claimed && btx.mnemonic" class="external-link">
  
            (<a href="#" ng-click="$root.$emit('claimTextcoin', btx.mnemonic.split('-').join(' '));" style="padding: 0; color: inherit;">claim back</a>)
  
          </span>
  
          <span class="label gray radius" ng-show="btx.claimed" translate>
  
            claimed by {{btx.claimedByMe?'me':'receiver'|translate}}
  
          </span>
  
     
  
        </span>
  
      </li>
  
  
  
      <li ng-if="btx.isTextcoin && !btx.claimed && btx.mnemonic" class="txli">
  
      <span translate>If the recipient doesn't see your payment, you can</span> <a class="blue-link" style="padding: 0" ng-click="shareAgain()" translate>share again</a>
  
      </li>
  
      <li ng-if="btx.isTextcoin && !btx.claimed && btx.mnemonic" class="txli">
  
      <!--<span translate>You can erase the textcoin from your wallet if you have already saved it elsewhere (e.g. as a paper wallet):</span> <a class="blue-link" style="padding: 0" ng-click="eraseTextcoin()" translate>erase textcoin</a>-->
        <span translate>You can erase the textcoin from your wallet if you have already saved it elsewhere (e.g. as a paper wallet):</span> <a class="blue-link" style="padding: 0"  translate>erase textcoin</a>
      </li>
  
      <li ng-if="btx.action == 'sent' && isPrivate && !btx.isTextcoin" class="txli">
  
      <span translate>If the recipient doesn't see your payment, you can</span> <a class="blue-link" style="padding: 0" ng-click="showCorrespondentList()" translate>re-send private payloads</a>
  
      </li>
  
      <li ng-if="n > 1 && isPrivate" class="txli">
  
      <span translate>If any of your cosigner devices doesn't see this payment, you can</span> <a class="blue-link" style="padding: 0" ng-click="reSendPrivateMultiSigPayment()" translate>re-send private payloads to cosigners</a>
  
      </li>
  
    </ul>
  
  
  
  
  
  </div>
  
  