<a  ng-click="index.setTab(item, false, 0, true)" ng-class="{'active': index.tab == item.link}" id="menu-{{item.link}}">
    <img class="activecirimg" src="./img/activecirimg.png"/>
    <img ng-if="index.tab == item.link" id="menuimg-{{item.imgid}}" class="activebimg" src="./img/active{{item.img}}.png"/>
    <img ng-if="index.tab !== item.link" id="menuimg-{{item.imgid}}" src="./img/{{item.img}}.png" />
    <div class="size-10 tu">
        {{ item.title|translate }}
        <span class="label alert round" ng-if="item.link=='walletHome' && index.pendingTxProposalsCountForUs > 0">
            {{ index.pendingTxProposalsCountForUs }}
        </span>
    </div>
    <div ng-show="item.title == 'Chat' && totalNewMsgCnt > 0" class="badge">
        {{totalNewMsgCnt}}
    </div>
</a>