<div class="passModalMask">
</div>

<div  ng-controller="passwordController as pass" class="passModal" ng-class="{'animated  bounceInDown':index.askPassword}">
  <form ng-submit="pass.set(index.askPassword.isSetup, index.askPassword.callback)">
    <div class="addpassl">
      <img src="./img/close.png"  ng-click="pass.close(index.askPassword.callback)"  />
      <label class="size-16 text-center" for="password" ng-if="index.askPassword.isSetup">
        <span ng-show="!pass.isVerification" translate>Set up a password</span>
        <span ng-show="pass.isVerification" translate>Repeat password</span>
      </label>
      <label class="size-16 text-center" for="password" ng-if="!index.askPassword.isSetup">
        <span translate>Enter your password</span>
      </label>
    </div>
    <div class="addpassi">
      <div class="adinputitem">
        <div class="adinputic">
          <div class="adinputimg">
            <img src="./img/walletpassinput.png">
          </div>
          <input type="password" placeholder="{{'Your password'|translate}}"
                 id="passwordInput" name="password" ng-model="pass.password">
        </div>
        <div class="text-warning size-10" ng-show="index.askPassword.error"><span>*</span>{{index.askPassword.error|translate}}</div>
      </div>
      <button class="" ng-disabled="!pass.password">
        <span ng-if="index.askPassword.isSetup" translate>SET</span>
        <span ng-if="!index.askPassword.isSetup" translate>OK</span>
      </button>
    </div>

    <div ng-show="index.askPassword.isSetup">
      <span class="text-warning size-12 text-center" ng-show="pass.error">{{pass.error|translate}}</span>
    </div>
  </form>
</div>
