<nav class="sidebar left-off-canvas-menu" ng-controller="sidebarController as sidebar">
  <ul class="off-canvas-list">
    <li ng-show="sidebar.wallets[0]"
    ng-repeat="item in index.walletInfo track by $index"
    ng-class="{'selected': item.wallet == index.wallet}"
    class="nav-item">
    <a ng-click="sidebar.switchWallet(item.wallet, index.wallet);index.updateTxHistory(3)" class="oh">
      <div class="avatar-wallet"><img src="{{item.image}}"></div>
      <div class="name-wallet" ng-class="{'m8t':item.n == 1}">{{item.walletName || item.wallet}}</div>
      <div class="size-12" ng-show="item.n > 1" translate>{{item.m}}-of-{{item.n}}</div>
    </a>
    </li>
    <!--<li>-->
      <!--<a ng-click="$root.go('correspondentDevices'); index.tab='chat'" class="oh">-->
        <!--<i class="icon-arrow-right3 size-18 right m10t"></i>-->
        <!--<i class="fi-laptop size-24 icon"></i>-->
        <!--<div class="tu text-bold">-->
          <!--<span class="size-12" translate>Paired devices</span>-->
        <!--</div>-->
        <!--<div translate>Co-signers for multisig</div>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a ng-click="sidebar.closeMenu(); $root.go('preferencesGlobal')" class="oh">-->
        <!--<i class="icon-arrow-right3 size-18 right m10t vm"></i>-->
        <!--<i class="fi-widget size-24 icon vm"></i>-->
        <!--<div class="tu text-bold">-->
          <!--<span class="size-12" translate>Settings</span>-->
        <!--</div>-->
        <!--<div translate>Global preferences</div>-->
      <!--</a>-->
    <!--</li>-->
  </ul>
  <div class="siderbarb">
      <a ng-click="$root.go('addwallet')">
          <div><img src="./img/creat.png"/></div>
          <span translate>Create a new wallet</span>
      </a>
      <a ng-click="$root.go('addwallet')">
        <div><img src="./img/sidescan.png"/></div>
        <span translate>Scan</span>
      </a>
  </div>
</nav>
