<nav class="sidebar left-off-canvas-menu" ng-controller="sidebarController as sidebar">
  <ul class="off-canvas-list">
      {{index.wallet}}
      <li class="selected nav-item">
          <a ng-click="sidebar.switchWallet(index.wallet, index.wallet);index.updateTxHistory(3)" class="oh">
              <div class="avatar-wallet"><img ng-src="{{index.image}}"></div>
              <div class="name-wallet">{{index.walletName}}</div>
              <div class="whpback" ng-show="index.mnemonic || index.mnemonicEncrypted" ng-click="$root.go('backup');index.backhome = true;" translate>Backup</div>
          </a>
      </li>
    <li
    ng-repeat="item in index.walletInfo track by $index"
    class="nav-item" ng-show="item.wallet != index.walletId">
      <a ng-click="sidebar.switchWallet(item.wallet, index.wallet);index.updateTxHistory(3)" class="oh">
        <div class="avatar-wallet"><img ng-src="{{item.image}}"></div>
        <div class="name-wallet">{{item.walletName}}</div>
        <div class="whpback" ng-show="item.mnemonic || item.mnemonicEncrypted" ng-click="$root.go('backup');index.backhome = true;" translate>Backup</div>
      </a>
    </li>
  </ul>
  <div class="siderbarbn">
      <a ng-click="$root.go('addwallet')">
          <div><img src="./img/creat.png"/></div>
          <span translate>Create a new wallet</span>
      </a>
  </div>
</nav>
