<nav ng-controller="topbarController as topbar" class="tab-bar">
    <section class="left-small">
        <a ng-show="goBackToState"
           ng-click="$root.go('^', true); goBackToState = null">
            <img src="./img/chatbackstate.png" />
        </a>
        <a ng-show="goToWallet"
           ng-click="topbar.goWallet();goToWallet = null;index.backwallet = false;">
            <img src="./img/chatbackstate.png" />
        </a>
        <a ng-show="closeToHome"
           ng-click="topbar.goHome(); closeToHome = null;index.backhome = false;">
            <img src="./img/chatbackstate.png" />
        </a>
        <a ng-show="goToWaname"
           ng-click="topbar.goToWaname(); goToWaname = null;index.backwaname = false;">
            <img src="./img/chatbackstate.png" />
        </a>
        <a ng-show="gohisback" history-back
           ng-click=" gohisback = null">
            <img src="./img/chatbackstate.png" />
        </a>
    </section>

    <section class="right-small" ng-show="showCamera">
        <qr-scanner ng-show="index.isComplete" on-scan="topbar.onQrCodeScanned(data)" before-scan="topbar.onBeforeScan()"></qr-scanner>
    </section>

    <section class="right-small" ng-show="walletsave">
        <a ng-click="" class="greencolor size-14" translate><span>Save</span></a>
    </section>
    <section class="right-small" ng-show="passsave">
        <a ng-click="" class="greencolor size-14" translate><span>Save</span></a>
    </section>
    <section class="middle tab-bar-section">
        <h1 class="title ellipsis">
            <span ng-if="index.arrBalances[index.assetIndex].shared === undefined && !index.shared_address || titleSection">{{(titleSection|translate) || (index.shared_address || index.alias || index.walletName)}}</span>
            <span ng-if="(index.arrBalances[index.assetIndex].shared !== undefined || index.shared_address) && !titleSection">
                <a ng-click="index.openSubwalletModal()" ng-style="{'color': noColor ? '#4A90E2' : index.backgroundColor}">
                    <span class="ellipsis" style="max-width: calc(100% - 14px);float: left;">
                        {{(index.shared_address || index.alias || index.walletName)}}
                    </span>
                    <span class="arrow-down" ng-style="{'float': 'left', 'border-top-color': index.backgroundColor}"></span>
                </a>
            </span>
        </h1>
    </section>
</nav>
