/*disclaimer start*/
.content .adtitle{background:#3B3B3B;text-align:center;}
.content .adtitle:first-child{font-size:13px;color:#9697A3;padding-top:16px;}
.content .adtitle .subtitle{font-size:19px;color:#fff;padding-bottom:16px;}
.content .adulli{height:calc(100vh - 180px);overflow-y:scroll;background-color:#fff;-webkit-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.12);box-shadow:0px 0px 4px 0px rgba(0,0,0,0.12);border-radius:7px 7px 0px 0px;}
.content .adulli ul{padding:24px 15px 42px 30px;list-style:none;margin-bottom:0;margin-left:0;}
.content .adulli ul li{color:#3B3B3B;font-size:13px;position:relative;}
.content .adulli ul li:before{display:block;content:'';width:6px;height:6px;border-radius:50%;background:#D8D8D8;position:absolute;left:-12px;top:6px;}

/*disclaimer end*/

/*term start*/
.termpage .tab-bar{background:#3B3B3B;}
.termpage .tab-bar h1{font-size:19px;font-weight:400;color:#fff;}
.termpage .adullic{position:fixed;top:46px;left:0;width:100%;height:calc(100vh - 46px);overflow-y:scroll;}
.termpage .adulli{background-color:#fff;-webkit-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.12);box-shadow:0px 0px 4px 0px rgba(0,0,0,0.12);border-radius:7px 7px 0px 0px;}
.termpage .adulli ul{padding:24px 15px 42px 30px;list-style:none;margin-bottom:0;margin-left:0;}
.termpage .adulli ul li{color:#3B3B3B;font-size:13px;position:relative;}
.termpage .adulli ul li:before{display:block;content:'';width:6px;height:6px;border-radius:50%;background:#D8D8D8;position:absolute;left:-12px;top:6px;}

/*term end*/

/*addwallet start*/
.addwcontent{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;overflow:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:0px 0px 5px 0px rgba(153,153,153,0.12);box-shadow:0px 0px 5px 0px rgba(153,153,153,0.12);border-radius:3px 3px 0px 0px;}
.addwcontentin{padding:30px 15px 20px;}
.addwcontentin .warnbigimg{display:block;margin:0 auto 32px;width:80px;}

/*welcome part start*/
.welcomepage{position:absolute;top:0;left:0;width:100%;height:100%;background:#3B3B3B;overflow:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:0px 0px 5px 0px rgba(153,153,153,0.12);box-shadow:0px 0px 5px 0px rgba(153,153,153,0.12);border-radius:3px 3px 0px 0px;}
.welcometext{padding:70px 15px 54px;text-align:center;}
.welcometext img{margin:0 auto 53px;width:160px;}
.twowayin{position:absolute;bottom:0;width:100%;background-color:#fff;background:rgba(255,255,255,1);-webkit-box-shadow:0px 0px 4px 0px rgba(0,0,0,0.12);box-shadow:0px 0px 4px 0px rgba(0,0,0,0.12);border-radius:15px 15px 0 0;padding:30px 15px 24px;}

/*welcome part end*/

/*addwallet part start*/
.addwcontentin .fleximgtext{margin-bottom:12px;}
.addwcontentin .fleximgtext:nth-child(2){margin-bottom:36px;}

/* start page */
.addwname{background:url(../img/walletnameinput.png) center no-repeat;z-index:2;}
.addwpass{background:url(../img/walletpassinput.png) center no-repeat;z-index:2;}
.addwrpass{background:url(../img/walletpassrinput.png) center no-repeat;z-index:2;}
.adinputitem .adinputp{display:none;color:#D45757;font-size:10px;margin:0;margin-top:4px;}
.adinputitem .adinputpass{color:#D45757;font-size:10px;margin:0;margin-top:4px;}
.setErrorexp .addwname{background:url(../img/walletnameinputer.png) center no-repeat;z-index:2;}
.setErrorexp .addwpass{background:url(../img/walletpassinputer.png) center no-repeat;z-index:2;}
.setErrorexp .addwrpass{background:url(../img/walletpassrinputer.png) center no-repeat;z-index:2;}
.setErrorexp.adinputitem .adinputp{display:block;}
.setErrorexp.adinputitem .adinputic{border-bottom:1px solid #D45757;}

/* another error */

/*addwallet part end*/

/*showcode part start*/
.addwscbox{background:#F9FAFC;border-radius:3px;border:1px solid #D6D6D6;padding:12px 12px 20px;}
.addwscbox:after{display:block;overflow:hidden;clear:both;content:'';}
.addwscbox span{margin-right:4px;float:left;font-size:12px;}

/*showcode part end*/

/*selectcode part start*/
.addwslcbox{border-radius:3px;border:1px solid #D6D6D6;padding:12px 4px 4px 12px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap;min-height:68px;}

/* .addwslcbox:after{display:block;overflow:hidden;clear:both;content:'';} */
.addwslcbox span{margin-right:8px;margin-bottom:8px;font-size:12px;cursor:pointer;padding-right:12px;background:url(../img/minusimg.png) right center;background-repeat:no-repeat;}
.backslcbox{border-radius:3px;border:1px solid #D6D6D6;padding:12px 4px 4px 12px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap;min-height:68px;}

/* .backslcbox:after{display:block;overflow:hidden;clear:both;content:'';} */
.backslcbox span{margin-right:8px;margin-bottom:8px;float:left;font-size:12px;cursor:pointer;}
.wordsbox{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.wordsbox button{font-size:12px;border-radius:3px;border:1px solid #D6D6D6;background:#fff;display:block;width:23%;text-align:center;cursor:pointer;margin-bottom:12px;height:30px;line-height:30px;color:#323232;text-transform:lowercase;}
.wordsbox button:disabled{background:#D6D6D6;border:1px solid #D6D6D6;}
.wordsbox button:hover{background:#fff;border:1px solid #D6D6D6;}

/*selectcode part end*/

/*addwallet end*/

/*addwallet start*/

/*importwallet start*/
.tabclicktitle{background:#FAFAFA;height:30px;width:100%;}
.addwimportwallet .addwcontentin{padding-top:20px;}
.addwcontent textarea{padding:12px;height:105px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:3px;border:1px solid #D6D6D6;resize:none;color:#323232;font-size:12px;margin-top:10px;margin-bottom:30px;}

/*importwallet end*/

/*addwallet end*/

/*walletHome-home-part start*/
.notximg{margin-top: 68px;}
.notximg img{width: 130px;margin-bottom:14px;}
#walletHome .opensidebara{position:absolute;right:8px;top:6px;color:#fff;display:block;width:30px;text-align:center;}
#walletHome .opensidebara img{width: 16px;}
.whlinfo{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;}
.whlinfo span{color:#8CF8D8;}
.whlinfo .whlogo{width:30px;margin-right:20px;-ms-flex-negative:0;flex-shrink:0;}
.whlinfo .whname{font-family:PingFangSC-Semibold,Arial,"微软雅黑";margin-right:10px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
.whlinfo .whpback{color:#8CF8D8;padding:0 8px;border:1px solid #8CF8D8;border-radius:18px;font-size:10px;margin-right:20px;-ms-flex-negative:0;flex-shrink:0;cursor:pointer;line-height:15px;}
.whlinfo .whewm{width:15px;height:15px;margin-right:0;-ms-flex-negative:0;flex-shrink:0;cursor:pointer;}
.whamount{margin-top:10px;font-size:20px;font-weight:bold;}
.whamount div{font-weight:600;font-size:30px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.whcnyd{font-size:12px;font-weight:400;color:#C4C4C4;margin-top:6px;}

/*walletHome-home-part end*/

/*sidebar start*/
.siderbarb{position:absolute;bottom:0;left:0;border-top:1px dashed #979797;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:16px 0;height:100px;}
.siderbarb:before{position:absolute;width:14px;height:14px;display:block;content:'';border-radius:50%;background:#a7a8a9;left:-7px;bottom:92px;}
.siderbarb a{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;width:100%;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;padding:4px 18px;}
.siderbarb a:first-child{margin-bottom:10px;}
.siderbarb a div{width:25px;height:22px;text-align:left;float:left;margin-right:14px;}
.siderbarb a span{white-space:nowrap;font-size:12px;font-weight:400;color:#fff;line-height:17px;float:left;}
.siderbarb .scansidebar{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;padding:4px 18px;color:#fff;cursor:pointer;}
.siderbarb #camera-icon{margin-bottom:0;padding:4px 0;width:22px;margin-right:17px;}
.siderbarbn{position:absolute;bottom:0;left:0;border-top:1px dashed #979797;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:16px 0;height:64px;}
.siderbarbn:before{position:absolute;width:14px;height:14px;display:block;content:'';border-radius:50%;background:#a7a8a9;left:-7px;bottom:57px;}
.siderbarbn a{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;width:100%;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;padding:4px 18px;}
.siderbarbn a:first-child{margin-bottom:10px;}
.siderbarbn a div{width:25px;height:22px;text-align:left;float:left;margin-right:14px;}
.siderbarbn a span{white-space:nowrap;font-size:12px;font-weight:400;color:#fff;line-height:17px;float:left;}

/*sidebar end*/

/*walletHome-history-part start*/
.histxdetail{background:#f9fafc;padding:0 15px;height:calc(100vh - 240px);overflow:scroll;}
.histop{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:6px;}
.histopl img{margin-right:20px;}
.histopl span{color:#323232;font-size:14px;font-weight:400;}
.histopr time{font-size:12px;color:#909090;}
.hisbottom{text-align:right;}
.hisbramount{color:#45AD8E;font-size:18px;font-weight:500;font-family:PingFangSC-Medium,Arial,微软雅黑;text-align:right;}
.hisbsamount{color:#D45757;font-size:18px;font-weight:500;font-family:PingFangSC-Medium,Arial,微软雅黑;text-align:right;}
.hisunit{font-size:14px;color:#646464;font-weight:500;font-family:PingFangSC-Medium,Arial,微软雅黑;margin-left:6px;}

/*walletHome-history-part end*/

/*walletHome-send-part start*/
#send{background:#F9FAFC;}
#send .sendform{padding:12px 15px 0;}
.sendform .adcpitem{height:44px;margin-top:32px;}
.sendform .adcpmdic input[type='text']{border-bottom:1px solid #CACACA;top:5px;padding-right:30px;}
.sendform .adcpmdic #amount{padding-right:52px;}
.sendform .adcpmdic input[type="text"][disabled]{background-color:#F9FAFC;}
.sendinfo{margin-top:10px;}
.sendinfo{font-size:12px;font-family:PingFangSC-Medium,Arial,微软雅黑;font-weight:500;color:#999999;}
.sendinfo a{color:#45AD8E;}
.sendform .sendcancel{display:block;font-family:PingFangSC-Regular,Arial,微软雅黑;font-size:14px;width:100%;height:45px;line-height:45px;padding:0px;margin:0px;border-radius:3px;text-align:center;background-color:#FFFFFF;border:1px solid #3B3B3B;color:#3B3B3B;}
.sendcancel:hover{background-color:#007095;color:#fff;border:none;}

/*walletHome-send-part end*/

/*walletHome-wallet-part start*/
#wallet{background:#F9FAFC;}
.adwwto{padding:0 15px;margin-top:18px;}
.adwwt{padding:13px;background:#FFFFFF;-webkit-box-shadow:0px 12px 13px -10px rgba(87,193,123,0.19);box-shadow:0px 12px 13px -10px rgba(87,193,123,0.19);border-radius:3px;margin-bottom:25px;}
.adwwt .adwwtflex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;cursor:pointer;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;padding-bottom:14px;}
.adwwt .adwwtflex .adwwtlogo{width:45px;height:45px;-ms-flex-negative:0;flex-shrink:0;margin-right:12px;-ms-flex-item-align:start;align-self:flex-start;}
.adwwt .adwwtflex .adwwt100{width:100%;margin-right:12px;}
.adwwt .adwwtflex .adwwt100 .adwwtname{font-size:14px;color:#323232;font-family:PingFangSC-Semibold,Arial,"微软雅黑";font-weight:600;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-ms-flex-line-pack:center;align-content:center;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;}
.adwwt .adwwtflex .adwwt100 .adwwtname .whpback{margin-top: 3px;height:14px;line-height:14px;padding:0 8px;border:1px solid #45AD8E;border-radius:18px;font-size:10px;-ms-flex-negative:0;flex-shrink:0;cursor:pointer;color:#45AD8E;margin-left:12px;}
.adwwt .adwwtflex .adwwt100 .adwwtaddr{font-size:12px;color:#909090;word-break:break-all;font-weight:400;margin-top:6px;}
.adwwt .adwwtflex .moreimg{width:12px;height:18px;}
.adwwt .adwwtnum{text-align:right;font-size:20px;color:#3B3B3B;border-top:1px dashed #cccccc;padding-top:10px;}
.adwwt .adwwtnum span{margin-left:8px;}

/*walletHome-wallet-part end*/

/*receive start*/
.receivelr{position:absolute;width:100%;height:100%;background:#F9FAFC;padding:0 15px;overflow:scroll;}
.addreceive{background-color:#fff;margin-top:40px;-webkit-box-shadow:0px 0px 8px 0px rgba(220,220,220,0.5);box-shadow:0px 0px 8px 0px rgba(220,220,220,0.5);border-radius:5px;padding-bottom:16px;}
.addreceive .addreceiveimgpr{position:relative;height:34px;}
.addreceive .addreceiveimgpr .addreceiveimg{width:50px;height:50px;position:absolute;top:-25px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);background:#ffffff;border-radius:50%;-webkit-box-shadow:0px 0px 5px 0px rgba(179,179,179,0.5);box-shadow:0px 0px 5px 0px rgba(179,179,179,0.5);text-align:center;padding-top:8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.addreceive .addreceiveimgpr .addreceiveimg img{width:29px;}
.addreceive .addreceiveimgpr .addcusamountimg{width:50px;height:50px;position:absolute;top:-25px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);background:#ffffff;border-radius:50%;-webkit-box-shadow:0px 0px 5px 0px rgba(179,179,179,0.5);box-shadow:0px 0px 5px 0px rgba(179,179,179,0.5);text-align:center;padding-top:11px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.addreceive .addreceiveimgpr .addcusamountimg img{width:30px;}
.addreceive .amounttranqrtitler{color:#999999;text-align:center;font-size:12px;}
.addreceive .code{padding:36px 0 32px;text-align:center;}
.addreceive .code .coderect{position:relative;top:-226px;height:0px}
.addreceive .code .coderectin{height:220px;width:220px;margin:auto;background:url(img/qr.png) white}
.addreceive .code .spinner{margin-top:80px;margin-bottom:30px}

/*receive end*/

/*tx-details start*/
.ammountlr{position:fixed;width:100%;height:100%;background:#FFFFFF;padding:0;overflow:auto;}
.ammountlr .adcpmdic input[type='number'],
.ammountlr .adcpmdic input[type='text']{top:5px;padding-right:60px;}

/*tx-details end*/

/*customized-amount start*/
.txcontent{background:#F9FAFC;padding:13px 13px 0;}
.txunit{font-size:14px;color:#fff;font-family:PingFangSC-Medium,Arial,微软雅黑;font-weight:500;}
.txheader{height:108px;border-radius:5px;padding:14px 0;color:#fff;margin-bottom:16px;font-size:34px;}
.txheader .ellisamout{width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:0 20px;}
.txreceive{background:rgba(87,193,123,1);-webkit-box-shadow:0px 0px 8px 0px rgba(87,193,123,0.5);box-shadow:0px 0px 8px 0px rgba(87,193,123,0.5);}
.txsent{background:rgba(234,108,76,1);-webkit-box-shadow:0px 0px 9px 0px rgba(234,108,76,0.51);box-shadow:0px 0px 9px 0px rgba(234,108,76,0.51);}
.txul{background:#fff;-webkit-box-shadow:0px 0px 3px 0px rgba(0,0,0,0.12);box-shadow:0px 0px 3px 0px rgba(0,0,0,0.12);height:calc(100vh - 183px);border-radius:3px 3px 0px 0px;}
.txli{padding:12px 16px;border-bottom:1px solid #EDEEF0;}
.ultitle{font-size:12px;color:#999999;font-family:PingFangSC-Medium,Arial,微软雅黑;font-weight:500;display:block;}
.txulinfo{font-size:12px;color:#3B3B3B;font-family:PingFangSC-Medium,Arial,微软雅黑;font-weight:500;word-break:break-all;}

/*customized-amount end*/

/*backup start*/
.adddbackup{margin:20px;background-color:#fff;padding:36px;padding-top:68px;margin-bottom:16px;padding-bottom:44px;}
.adddbackup .adddbackupimg,
.adddbackup .adddbackuptext{width:100%;}
.adddbackup .adddbackupimg{margin:0 auto;text-align:center;}
.adddbackup .adddbackupimg img{width:58px;height:58px;}
.adddbackup .adddbackupimg i{font-size:68px;color:#226d97;}
.adddbackup .adddbackuptext{color:#6A7D90;margin-top:56px;font-size:18px;text-align:center;}
.backupmain{height:calc(100vh - 135px);position:fixed;bottom:0;left:0;z-index:1;width:100%;background:#FFFFFF;color:#EB6F50;font-size:14px;padding:20px 15px 0;}
.addbsswicth{background:#FFFFFF;border:0px;width:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;padding:10px 15px 4px;}
.addbsswicth .addbsswicthd{font-size:16px;width:100%;}
.backupmain .backslcbox{margin-top:15px;margin-bottom:12px;}

/*backup end*/

/*walletnamea start*/
.adwnnumo{padding:18px 15px;}
.adwnnum{padding:13px;text-align:center;margin-bottom:18px;background:#45AD8E;-webkit-box-shadow:0px 11px 12px -12px #45AD8E;box-shadow:0px 11px 12px -12px #45AD8E;border-radius:3px;}
.adwnnum .adwnlogo{width:53px;height:53px;margin:0 auto;margin-bottom:10px;}
.adwnnum .adwnnumamt{font-size:14px;font-family:PingFangSC-Semibold,Arial,"微软雅黑";font-weight:bold;color:#8CF8D8;padding-bottom:16px;border-bottom:1px dashed #fff;}
.adwnnum .adwnnumamt span{margin-right:14px;font-size:20px;font-family:PingFangSC-Semibold,Arial,"微软雅黑";font-weight:600;color:#ffffff;}
.adwnnum .adwnaddr{margin-top:12px;cursor:pointer;margin-left:20px;}
.adwnnum .adwnaddr span{margin-right:18px;font-size:12px;font-weight:400;color:#fff;}
.adwnlinput{list-style-type:none;margin:0;padding:0;}
.adwnlinput li{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-top:1px solid #D3D3D3;border-bottom:1px solid #D3D3D3;width:100%;padding:0 14px;height:46px;margin-bottom:15px;cursor:pointer;}
.adwnlinput li:last-child{margin-bottom:0;}
.adwnlinput .adwninput{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;}
.adwnlinput .adwninput span{-ms-flex-negative:0;flex-shrink:0;white-space: nowrap;}
.adwnlinput li .ld{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;}
.adwnlinput li .rd{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-moz-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;}
.adwnlinput li .limg{width:20px;height:20px;margin-right:10px;-ms-flex-negative:0;flex-shrink:0;}
.adwnlinput li img{vertical-align:initial;}
.adwnlinput li img,
.adwnlinput li span{-ms-flex-negative:0;flex-shrink:0;}
.adwnlinput li input{width:100%;border:none;margin:0;padding:0 20px;background:transparent;}

/* .btngroup{position: absolute;bottom:50px;left:0;padding: 0 13px;width:100%;} */
.btngroup{padding:0 13px;width:100%;margin-top:40px;}

/*walletnamea end*/

/*changewalletp start*/
.addchan{padding:0 15px;}
.addchan .adinputitem{padding-top:15px;}
.addchan a:hover{color:#45AD8E;}

/*changewalletp end*/

/*destination-address start*/
.addedit{background:#F9FAFC;padding:18px 15px 0;}
.addaaddr{height:calc(100vh - 80px);background-color:#fff;}
.addaddbook .modal-content ul li.addaliste a{padding:14px 16px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;background:#fff;-webkit-box-shadow:0px 0px 3px 0px rgba(160,160,160,0.32);box-shadow:0px 0px 3px 0px rgba(160,160,160,0.32);border-radius:5px;}
.addaddbook .modal-content ul li.addaliste a span{font-size:16px;font-family:PingFangSC-Medium,Arial,微软雅黑;font-weight:500;color:#3B3B3B;word-break:break-all;}
.addaddbook .modal-content ul li.addaliste a span.text-close{-ms-flex-negative:0;flex-shrink:0;margin-right:10px;}
.addaddbook .modal-content ul li.addaliste a img{width:32px;}
.addaddbook .modal-content ul.addalist{height:calc(100vh - 140px);overflow:auto;margin-top:16px!important;padding:0;background:#fff;-webkit-box-shadow:0px 0px 3px 0px rgba(160,160,160,0.32);box-shadow:0px 0px 3px 0px rgba(160,160,160,0.32);border-radius:5px 5px 0 0;margin-bottom:0;}
.addaddbook .modal-content ul.addalist2{height:calc(100vh - 64px);overflow:auto;padding:0;background:#fff;-webkit-box-shadow:0px 0px 3px 0px rgba(160,160,160,0.32);box-shadow:0px 0px 3px 0px rgba(160,160,160,0.32);margin-bottom:0;}
.addaddbook .modal-content ul.addalist li,
.addaddbook .modal-content ul.addalist2 li{padding:10px 16px;cursor:pointer;position:relative;}
.addaddbook .modal-content ul.addalist2 li .selectAddressbook{position:absolute;right:0;top:0;background:#EB6D4D;padding:22px 16px;}
.addaddbook .modal-content ul.addalist2 li .selectAddressbook img{width:18px;}
.addaaddr .adinputitem{margin-top:15px;}
.addrbtn{margin-top:40px;}
.addrbtn button{width:49%;}
.addrbtn button:nth-child(1){float:left;}
.addrbtn button:nth-child(2){float:right;}

/*destination-address end*/

/*preferencesGlobal start*/
.preferences ul{list-style-type:none;}
.preferences ul li:first-child{margin-top:26px;border-top:1px solid #DEDEDE;border-bottom:1px solid #DEDEDE;}
.preferences ul li{border-bottom:1px solid #DEDEDE;background:#fff;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;padding:13px;}
.preferences ul li.preflitwo{border-top:1px solid #DEDEDE;    /*margin-top: 40px;*/margin-top:18px;}
.preferences ul li .ld{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;}
.preferences ul li .ld span{color:#323232;}
.preferences ul li .rd{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-moz-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;color:#909090;}
.preferences ul li:first-child div{color:#909090;}
.preferences ul li .limg{width:20px;height:20px;margin-right:10px;}
.preferences ul li img{vertical-align:sub;}
.preferences ul li .rd img{margin-left:10px;}

/*preferencesGlobal end*/

/*password start*/
.addpassl{position:relative;padding-left:16px;padding-right:16px;border-bottom:1px solid #F5F5F5;padding-bottom:14px;}
.addpassl img{position:absolute;top:7px;cursor:pointer;}
.addpassl label{margin-bottom:0;font-weight:400;}
.addpassi{padding-left:16px;padding-right:16px;padding-top:24px;}
.addpassi .text-warning{color:#D45757;font-size:10px;margin:0;margin-top:4px;}
.addpassi button{margin-top:28px;}

/*password end*/

/*shadowDevice start*/
.scanpop .title{height:45px;line-height:45px;border-bottom:1px solid #F5F5F5;position:relative;font-size:16px;color:#030303;text-align:center;}
.scanpop .title .scanclose{position:absolute;top:18px;left:20px;cursor:pointer;}
.scanpop .scanin{padding:24px 13px 32px;text-align:center}
.scanpop .scanin .scannote{font-size:12px;color:#323232;padding:15px 0;}
.scanpop .scanin textarea{border:1px solid #D6D6D6;border-radius:3px;padding:10px 12px;width:100%;height:100px;margin-bottom:32px;}
.scanpop .scanin .item{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-moz-box-align:start;-ms-flex-align:start;align-items:flex-start;padding:0 17px;margin-bottom:46px;text-align:left;}
.scanpop .scanin .item img{-ms-flex-negative:0;flex-shrink:0;margin-right:16px;}
.scanpop .scanin .item .itemin label{font-size:14px;color:#323232;}
.scanpop .scanin .item .itemin div{word-break:break-all;font-size:12px;color:#909090;}
.csend1{background:#F9FAFC;padding:20px 13px 0;}
.csend1head{background:#45AD8E;-webkit-box-shadow:0px 11px 9px -7px rgba(87,193,123,0.62);box-shadow:0px 11px 9px -7px rgba(87,193,123,0.62);border-radius:3px;height:90px;color:#fff;text-align:center;font-weight:600;font-family:PingFangSC-Semibold,Arial,"微软雅黑";margin-bottom:18px;padding:0 10px;}
.csend1head div{padding:4px 0;}
.csendunit{border-top:1px dashed #fff;}
.csend1 form{background:#fff;-webkit-box-shadow:0px 0px 3px 0px rgba(0,0,0,0.12);box-shadow:0px 0px 3px 0px rgba(0,0,0,0.12);border-radius:3px 3px 0px 0px;height:calc(100vh - 174px);overflow:auto;padding:0 0 20px;}
.sdflex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;padding:16px 10px;border-bottom:1px solid #DEDEDE;font-size:12px;color:#909090;}
.sdflex .sdtitle{font-size:12px;color:#909090;-ms-flex-negative:0;flex-shrink:0;}
.sdflex .sdinfo{font-size:12px;color:#323232;word-break:break-all;margin-left:20px;width:100%;}

/*shadowDevice end*/

/*公共样式*/
.awbtn{background-color:#FFFFFF;border:1px solid #3B3B3B;color:#3B3B3B;}
.awbtn:hover{border:none;}
.awbtn50{float:right;font-size:14px;width:49%;height:46px;line-height:46px;padding:0;background-color:#FFFFFF;border:1px solid #3B3B3B;color:#3B3B3B;border-radius:3px!important;margin:0;}
.abbtn50{float:left;font-size:14px;width:49%;height:46px;line-height:46px;padding:0;background-color:#3B3B3B;color:#fff;border-radius:3px!important;margin:0;}
.adbg{background:#3B3B3B;}
.graybg{background:#F9FAFC;}
.graytext{font-size:12px;font-weight:400;color:#90919D;}
.f9fafch{background:#F9FAFC;height:20px;width:100%;}
.redcolor{color:#D45757;}
.warmcolor{color:#646464}
.greencolor{color:#45AD8E;}
.nzcolor{color:#909090;}
.fontbold{font-family:PingFangSC-Semibold,Arial,"微软雅黑";}
.secondcontent{width:100%;position:absolute;top:0;bottom:0;overflow:auto;background:#F9FAFC;}
.popconfirm{position:fixed;width:100%;height:100%;top:0;left:0;z-index:100;}
.popconfirm .popmask{position:absolute;width:100%;height:100%;text-align:center;top:0;left:0;background:rgba(0,0,0,0.3);z-index:100;cursor:pointer;}
.popconfirm .popcontent{position:absolute;width:calc(100% - 26px);top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;padding:32px 0 48px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:101;}
.popconfirm .poptips{font-size:12px;color:#646464;padding-top:20px;border-top:1px solid #F5F5F5;margin-bottom:32px;}
.popconfirm .popbutton{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;}
.popconfirm .popbutton button{width:49%;}
::-webkit-scrollbar{width:6px;height:6px;}
.fl{float:left;}
.fr{float:right;}
.morerimg{width:12px;}
/* 滚动槽 */
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px #fff;border-radius:10px;}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb{border-radius:10px;background:#c5c5c5;}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(255,0,0,0.4);}
.adcpitem{margin-top:30px;height:60px;}
.adcpmdic{position:relative;width:100%;height:44px;}
.adcpmdic input[type='text'],
.adcpmdic input[type='number']{position:absolute;font-size:16px;top:10px;padding:0;font-weight:normal;margin:0;width:100%;}
.adcpmdic label{position:absolute;font-size:16px;top:10px;padding:0;font-weight:normal;margin:0;white-space:nowrap;cursor:text;z-index:10;}
.md-input-focused{position:relative;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.md-input-focused label,
.md-input-has-value label{top:-10px;font-size:14px;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.md-input-focused input[type='text']{background:blue;position:absolute;top:10px;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.adinputitem{margin-bottom:10px;}
.adinputic{width:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;border-bottom:1px solid #909090;padding:0 4px;}
.adinputic .adinputimg{width:24px;height:20px;text-align:center;background-size:contain;}
.adinputic input[type='text'],
.adinputic input[type='password']{font-size:16px;padding:0 10px 0 20px;font-weight:normal;margin:0;width:100%;color:#3B3B3B;border:none;}
.adinputic input[type='text']::-webkit-input-placeholder,
.adinputic input[type='password']::-webkit-input-placeholder{color:#B8B8B8;}
textarea::-webkit-input-placeholder{font-size:12px;font-weight:400;color:#909090;}
.fleximgtext{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-moz-box-align:start;-ms-flex-align:start;align-items:flex-start;}
.fleximgtext img{-ms-flex-negative:0;flex-shrink:0;margin-right:10px;height:12px;width:12px;margin-top:3px;}
.fleximgtextc{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:start;-moz-box-align:start;-ms-flex-align:start;align-items:flex-start;}
.fleximgtextc img{-ms-flex-negative:0;flex-shrink:0;margin-right:22px;height:24px;width:24px;}

/*公共样式 end*/

/*重写foundation  css start*/
.left-off-canvas-menu{left:auto;right:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);width:210px;}
.move-right > .inner-wrap{-webkit-transform:translate3d(-210px,0,0);transform:translate3d(-210px,0,0);}

/*重写foundation  css end*/

/*启动页面的样式  有文字不能删*/

/*.qdpageone{display: block;background-color:#ffffff !important;width:100%;height:100%;}*/

/*.qdpagetwo{background-color:#ffffff !important;color:#8d8d8d;position:absolute;top:0;left:0;width:100%;height:100%;}*/

/*.qdpagetwo > div{margin-top:0 !important;}*/

/*.qdpageonetr{display: block;text-align: center;color:white;font-size: 32px;padding-top: 150px;}*/

/*.qdpageoneimg{width:200px;height:76px;margin: 0 auto;}*/

/*.qdpageonetext{color:#8d8d8d;margin-top:2px;font-size:20px;text-aPlease choose how much data to store in your walletlign: center;}*/

/*.qdbggrey{background-color: #ffffff;width: 100%;height:100%;position: fixed;top: 0;left: 0;z-index: -1;}*/

/*.qdpageonefix{position:fixed;bottom:0;left: 0;width:100%;background-color:#eceff6;height:268px;}*/

/*.qdpageonerbg{height: 50px;width: 100%;background-color:#ffffff;position: absolute;top:0;left: 0;}*/

/*.qdpageonerdiu{background-color:#ffffff;border-radius: 50%;height:100px;width: 100%;}*/

/*.qdpageonebtext{padding-top:58px;background-color:#eceff6;color:#335c72;text-align:center;font-size:18px;height:150px;padding-left: 10px;padding-right: 10px;}*/

/*启动页面的样式  没文字*/
.qdpageone{display:block;background-color:#eceff5!important;width:100%;height:100%;}
.qdpagetwo{background-color:#eceff5!important;color:#8d8d8d;position:absolute;top:0;left:0;width:100%;height:100%;}
.qdpagetwo > div{margin-top:0!important;}
.qdpageonetr{display:block;text-align:center;color:white;font-size:32px;padding-top:168px;}
.qdpageoneimg{width:108px;margin:0 auto;}
.qdpageonetext{color:#454545;margin-top:2px;font-size:38px;text-align:center;}
.qdbggrey{background-color:#eceff5;width:100%;height:100%;position:fixed;top:0;left:0;z-index:-1;}
.shownewsloading{width:100%;height:45px;background:#fff;font-size:12px;font-weight:400;color:rgba(144,144,144,1);text-align:center;}
.shownewsloading img{margin-right:10px;}
.nonews{position:relative;height:100%;width:100%;left:0;top:0;background:#fff;z-index:1001;}
.nonewsin{position:absolute;top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);text-align:center;width:100%;}
.nonewsin img{margin-bottom:20px;}
.nonewsintext{font-size:12px;font-weight:400;color:#909090;text-align:center;}
.nowire{position:relative;height:100%;width:100%;left:0;top:0;background:#fff;z-index:1001;cursor:pointer;}
.nowirein{position:absolute;top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);text-align:center;width:100%;}
.nowirein img{margin-bottom:20px;}
.nowireintext{font-size:12px;font-weight:400;color:#909090;text-align:center;}
.nomorenews{width:100%;height:45px;background:#fff;font-size:12px;font-weight:400;color:rgba(144,144,144,1);text-align:center;}
.nomorenews img{margin-right:10px;}
.tabnewsout{left:calc(-500vw);visibility:hidden;}
#news .tabnewsin{left:0;visibility:visible;}
.news .tab-container a{padding:5px 0;}
/*列表加载中*/
.newslistheight{width:100%;height:45px;background:#fff;font-size:12px;font-weight:400;color:rgba(144,144,144,1);text-align:center;}
.newslistheight .newupload{display: block;width:100%;height:45px;background:#fff;font-size:12px;font-weight:400;color:rgba(144,144,144,1);text-align:center;padding-top:14px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.newslistheight .newupload img{margin-right:10px;}
/*上拉刷新加载中*/
.newsupheight{width:100%;background:#fff;font-size:12px;font-weight:400;color:rgba(144,144,144,1);text-align:center;display:none;overflow:hidden;}
#coinupheight{paddint-top:32px;box-sizing:content-box;}
.newuprelease,
.newupload{display:none;}
.newuprelease{width:100%;height:45px;background:#fff;font-size:12px;font-weight:400;color:rgba(144,144,144,1);text-align:center;padding-top:14px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.quotelist .newuprelease,
.quotelist .newupload{margin-bottom:-22px;height:auto;}
.newuprelease img{margin-right:10px;}
.newupload{width:100%;height:45px;background:#fff;font-size:12px;font-weight:400;color:rgba(144,144,144,1);text-align:center;padding-top:14px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.newupload img{margin-right:10px;}
.topanimate{top:4px!important;}
.dddfixed{position:fixed;top:60px;left:0;background:red;}

/*资讯*/
.news .tab-container{width:33.3%;}
.news .tabclicktitle{background:#FDFEFF;}
.news .addwcontent{top:78px;z-index:2; height:calc(100vh - 126px);overflow: hidden;}

/*最新*/

/*.news .newslist,.news .newslist a,.news .newslist img, .news .newslist div, .news .newslist p, .news .newslist  span,.news .letterlist,.news .quotelist{*/

/*-webkit-user-drag: auto;*/

/*-ms-user-drag: auto;*/

/*user-drag: auto;*/

/*}*/
.news .newslist{margin-top:-1px;width: calc(100vw + 7px);}
.news .newslist .item{height:100px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:start;-moz-box-align:start;-ms-flex-align:start;align-items:flex-start;padding:15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #EEEEEE;}
.news .newslist .item:nth-child(1){border-top:1px solid #EEEEEE;}
.news .newslist .item:last-child{border-bottom:none;}
.news .newslist .item img{width:100px;height:65px;margin-right:10px;display:inline-block;-ms-flex-negative:0;flex-shrink:0;cursor:pointer;border-radius:1px;}
.news .newslist .item .info{width:100%;}
.news .newslist .item .title{font-size:14px;color:#323232;height:40px;line-height:20px;margin-bottom:10px;-webkit-box-orient:vertical;-webkit-line-clamp:2;text-overflow:ellipsis;overflow:hidden;display:-webkit-box;cursor:pointer;-ms-word-break:break-all;word-break:break-all;}
.news .newslist .item .litinfo{font-size:10px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;color:#45AD8E;}
.news .newslist .item .litinfo span{color:#909090;}
/*快讯*/
.news .letterlist{width: calc(100vw + 7px);}
.news .letterlist .datenow{text-align:left;padding:0 18px;font-size:10px;color:#909090;background:#f9fafc;height:26px;line-height:26px;position:fixed;left:0;top:78px;width:100%;z-index:5;}
.news .letterlist .itemin .date{text-align:left;padding:0 18px;font-size:10px;color:#909090;background:#f9fafc;height:26px;line-height:26px;}
.news .letterlist .itemin .itemlr{padding:0 22px 0 18px;}
.news .letterlist .itemin .item{border-left:1px solid #DEDEDE;padding:14px 0 0 16px;}
.news .letterlist .itemin .item:nth-child(1){padding-top:28px;}
.news .letterlist .itemin .itemlr:last-child .item:last-child{padding-bottom:14px;}
.news .letterlist .itemin .item .time{display:inline-block;font-size:10px;font-family:PingFangSC-Semibold,Arial,"微软雅黑";font-weight:600;color:#45AD8E;border-radius:10px;border:1px solid #45AD8E;padding:0 8px;position:relative;margin-bottom:12px;}
.news .letterlist .itemin .item .time:before{display:block;content:'';position:absolute;z-index:1;width:13px;height:13px;background:#45AD8E;border-radius:50%;border:2px solid #fff;left:-24px;top:1px;}
.news .letterlist .itemin .item .title{font-size:14px;font-family:PingFangSC-Semibold,Arial,"微软雅黑";font-weight:600;color:#323232;margin-bottom:6px;-ms-word-break:break-all;word-break:break-all;}
.news .letterlist .itemin .item .desc{font-size:12px;font-weight:400;color:#646464;-ms-word-break:break-all;word-break:break-all;}
.news .removescroll{width: 100%;overflow-y: scroll;overflow-x: hidden;max-height:calc(100vh - 126px);}
/*行情*/
.news .quotelist{width: calc(100vw + 7px);padding-top:32px;box-sizing: border-box;}
.news .quotelist .titlelabel{padding:0 15px;background:#f9fafc;height:34px;line-height:34px;position:fixed;left:0;top:78px;width:100%;z-index:5;font-size:12px;color:rgba(50,50,50,1);}
.news .quotelist .titlelabel .numall{cursor: pointer;position:absolute;left:47px;text-align:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.news .quotelist .titlelabel .sorttitle{padding-right:5px;display:inline-block;height:34px;white-space: nowrap;}
.news .quotelist .titlelabel .cointri{position:relative;width:9px;height:10px;display:inline-block;}
.news .quotelist .titlelabel .cointri:before{content:'';display:block;border:4px solid transparent;border-bottom:5px solid #C4C4C4;margin-bottom:1px;margin-top:-3px;}
.news .quotelist .titlelabel .cointri:after{content:'';display:block;border:4px solid transparent;border-top:5px solid #C4C4C4;}
.news .quotelist .titlelabel .cointri.upcoin:before{content:'';display:block;border:4px solid transparent;border-bottom:5px solid #45AD8E;margin-bottom:1px;margin-top:-3px;}
.news .quotelist .titlelabel .cointri.downcoin:after{content:'';display:block;border:4px solid transparent;border-top:5px solid #45AD8E;}
.news .quotelist .titlelabel .price{cursor: pointer;position:absolute;top:0;right:107px;text-align:right;}
.news .quotelist .titlelabel .gains{cursor: pointer;position:absolute;top:0;right:15px;text-align:center;}
.news .quotelist .itemin{padding:0 15px 0;}
.news .quotelist .itemin .item{padding:14px 0;position:relative;border-bottom:1px solid #DEDEDE;}
.news .quotelist .itemin:nth-child(1) .item{border-top:1px solid #DEDEDE;}
.news .quotelist .itemin .item .leftcoininfo{width:calc(100% - 175px);}
.news .quotelist .itemin .item .coinimg{margin-bottom:6px;}
.news .quotelist .itemin .item .coinimg img{margin-right:10px;vertical-align:middle;width:20px;height:20px;}
.news .quotelist .itemin .item .coinimg .nameshort{font-size:16px;font-weight:400;color:rgba(50,50,50,1);vertical-align:middle;}
.news .quotelist .itemin .item .coinimg .fullname{font-size:10px;font-weight:400;color:#909090;vertical-align:middle;margin-left:6px;}
.news .quotelist .itemin .item .numallin{font-size:12px;color:rgba(144,144,144,1);}
.news .quotelist .itemin .item .pricein{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);right:92px;text-align:right;font-size:16px;font-weight:600;color:#323232;}
.news .quotelist .itemin .item .pricein.priceblue{color:#45AD8E;}
.news .quotelist .itemin .item .pricein.pricered{color:#D45757;}
.news .quotelist .itemin .item .gainsin{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);right:0;width:70px;text-align:center;}
.news .quotelist .itemin .item .gainsin .gainsinfo{padding:4px 9px;color:#fff;border-radius:3px;background:#C4C4C4;width:70px;}
.news .quotelist .itemin .item .gainsin.priceblue .gainsinfo{background:#45AD8E;}
.news .quotelist .itemin .item .gainsin.pricered .gainsinfo{background:#D45757;}
@media (max-width: 330px){
    .news .quotelist .titlelabel .numall{left:15px;}
}

/*添加设备 start*/
.addpartner{background:#F9FAFC;position:fixed;width:100%;height:100%;top:0;left:0;overflow:auto;}
.addpartner ul{list-style-type:none;}
.addpartner ul li{background:#fff;padding-left:15px;cursor:pointer;}
.addpartner ul li:first-child{margin-top:15px;border-top:1px solid #EDEEF0;}
.addpartner ul li .liin{border-bottom:1px solid #EDEEF0;display:flex;justify-content:space-between;align-items:center;padding:13px 13px 13px 0;}
.addpartner ul li.preflitwo{border-top:1px solid #EDEEF0;margin-top:15px;}
.addpartner ul li .ld{display:flex;justify-content:flex-start;align-items:center;}
.addpartner ul li .ld span{color:#323232;}
.addpartner ul li .rd{display:flex;justify-content:flex-end;align-items:center;color:#909090;}
.addpartner ul li:first-child div{color:#909090;}
.addpartner ul li .limg{width:20px;height:20px;margin-right:10px;}
.addpartner ul li img{vertical-align:initial;}
.addpartner ul li .limg img{width:16px;}
.addpartner ul li .rd img{margin-left:10px;}

/*添加设备 end*/

/*correspondentDevice   start*/
.view_chat_box{display: flex;flex-direction: column;height: 100%;}
.view_chat_box .chatlist{flex: 1;overflow: auto;padding: 0;bottom:50px;}
.chatcurchattop{position: fixed;width: 100%;}
/*弹出框*/
.popconfirm .popcontentwt{position:absolute;width:100%;max-height:245px;overflow:scroll;bottom:0;left:0;background:#fff;box-sizing:border-box;z-index:101;border-radius:10px 10px 0 0;padding:6px 0;}
.popconfirm .popcontentwt ul{list-style-type:none;}
.popconfirm .popcontentwt ul li{background:#fff;padding:0 15px;cursor:pointer;}
.popconfirm .popcontentwt ul li .liin{border-bottom:1px solid #EDEEF0;display:flex;justify-content:space-between;align-items:center;padding:10px 13px 10px 0;}
.popconfirm .popcontentwt ul li:last-child .liin{border-bottom:none;}
.popconfirm .popcontentwt ul li .ld{display:flex;justify-content:flex-start;align-items:center;}
.popconfirm .popcontentwt ul li .ld span{color:#323232;}
.popconfirm .popcontentwt ul li .ld .greendot{width:5px;height:5px;border-radius:50%;margin-right:14px;background:#45AD8E;}
.popconfirm .popcontentwt ul li .rd{display:flex;justify-content:flex-end;align-items:center;color:#909090;}
.popconfirm .popcontentwt ul li .limg{width:36px;margin-right:16px;flex-shrink:0;}
.popconfirm .popcontentwt ul li img{vertical-align:initial;width:36px;vertical-align:top;border-radius:50%;}
.popconfirm .popcontentwt ul li .rd img{margin-left:10px;}
.popconfirm .popcontentwt ul li .rd span{flex-shrink:0;white-space:nowrap;}


/*聊天记录*/
.send-form{position:fixed;width:100%;bottom:0px;box-shadow:0px 1px 4px 0px rgba(0,0,0,0.22);background-color:white;z-index:5;white-space:nowrap;text-align:center;height:auto;}
#drop{width:auto!important;text-align:left;bottom:44px!important;left:45px!important;top:auto!important;background:rgba(69,173,142,1);box-shadow:0px 4px 8px -4px rgba(69,173,142,1);border-radius:10px 10px 10px 0px;margin:0;padding:0 13px;border:none;}
.f-dropdown.drop-top:before,
.f-dropdown.drop-top:after{content:'';display:none;}
.f-dropdown li{padding:12px 3px;text-align:center;font-size:12px;font-weight:400;margin-bottom:0;color:#FDFEFF;}
.f-dropdown li:first-child:hover{color:#FDFEFF;background:rgba(69,173,142,1);border-radius:10px 10px 0 0px;padding:12px 3px 0;margin-bottom:0!important;}
.f-dropdown li:last-child:hover{color:#FDFEFF;background:rgba(69,173,142,1);border-radius:0 0 10px 0px;padding:12px 3px;margin-bottom:0!important;}
.f-dropdown li img{margin-right:12px;}
.f-dropdown > *:first-child{padding-bottom:0;}
.f-dropdown > *:first-child:after{width:100%;margin:0 auto;content:'';display:block;border-bottom:1px solid rgba(255,255,255,0.1667);margin-top:12px;}
.message-log{position:absolute;width:100%;top:45px;overflow-x:hidden;overflow-y:auto;font-size:13px;background:#F9FAFC;
    /*height:calc(100vh - 96px);*/
}
.chat-message{width:100%;position:relative;}
.bubble{padding:10px 15px;margin:0px 7px;border-radius:18px;position:relative;max-width:calc(100% - 124px);;text-align:left;word-wrap:break-word;}
.from-me{background:#45AD8E;box-shadow:0px 4px 5px -5px rgba(69,173,142,1);border-radius:10px 0px 10px 10px;font-size:13px;font-weight:500;color:#fff;font-family:PingFangSC-Medium,Arial,微软雅黑;float:right;
    position:relative;margin-right:62px;margin-bottom:28px;padding:10px 10px 10px 17px;}
.from-me a{color:white;}
.bubble a.payment,
.bubble a.external-link{text-decoration:underline;}
.bubble a.command{line-height:2;}
.from-them{background:#fff;box-shadow:0px 4px 5px -5px rgba(69,173,142,1);border-radius:0px 10px 10px 10px;font-size:13px;font-weight:500;color:rgba(50,50,50,1);font-family:PingFangSC-Medium,Arial,微软雅黑;float:left;
    margin-left:62px;margin-bottom:28px;padding:10px 17px 10px 10px;}
.system{position:relative;z-index:1;text-align:center;max-width:100%;font-size:12px;}
.system>span{padding:1px 16px;font-size:13px;font-family:PingFangSC-Medium,Arial,"微软雅黑";font-weight:500;color:#fff;background:#DEDEDE;border-radius:3px;}
.system b{background-color:white;border:1px dashed #888;border-width:0 0 1px 0;cursor:pointer;}
.msg-ts{color:#acacac;font-size:10px;padding-top:10px;width:12%;}
/*图像*/
.from-me .chatname,.from-them .chatname{position:absolute;width:40px;height:40px;line-height:40px;font-size:24px;font-family:PingFangSC-Semibold,Arial,"微软雅黑";color:#323232;background:#EFEFEF;text-align:center;
    border-radius:50%;}
.from-them .chatname{left:-54px;top:-18px;}
.from-me .chatname{right:-54px;top:-18px;}
.system .chatname{display: none;}
@media (max-width:350px){
    .msg-ts{font-size:8px;}
}
.dropup-item{max-width:100%;padding:0 15px 0 10px;}
.dropup-item-link{padding:8px 0!important;display:inline-block!important;max-width:calc(100% - 10px);float:left;}
.lefttime{text-align:left;position:absolute;left:64px;bottom:8px;color:#909090;font-size:10px;font-family:PingFangSC-Medium,Arial,"微软雅黑";width:calc(100% - 64px);}
.righttime{text-align:right;position:absolute;right:64px;bottom:8px;color:#909090;font-size:10px;font-family:PingFangSC-Medium,Arial,"微软雅黑";width:calc(100% - 64px);}

/*发送表单*/
.chatsendform{height:auto;display:flex;justify-content:flex-start;align-items:flex-end;padding:8px 17px;background:#fff;box-shadow:0px 1px 4px 0px rgba(196,196,196,1);}
.chatsendform #chatltmessage{flex-shrink:0;cursor:pointer;margin-bottom:3px;}
.chatsendform input{margin:0;padding:0;}
.chatsendform #message{width:100%;margin:0 13px;border:none;border-bottom:1px solid #DEDEDE;max-height:100px;resize:none;outline:none;min-height:auto;
box-sizing:border-box;padding:8px 0;height:auto;}
.chatsendform .chatsend{width:26px;height:26px;border-radius:50%;background:url(../img/chatsend.png) no-repeat center;flex-shrink:0;cursor:pointer;margin-bottom:3px;}

/*correspondentDevice   end*/

/*correspondentDevices   start*/
#chat{height:100%;}
.chatcurchattops .right-small a{font-size:16px;font-weight:400;color:#323232;}
.chatcurchattops .right-small a:hover{color:#323232;}
#chat .mtab{min-height:150px;background-color:#FFFFFF;max-height:calc(100% - 120px);overflow:auto;}
.chatbiline ul{list-style-type:none;}
.chatbiline ul li{background:#fff;padding:0 15px;cursor:pointer;position:relative;}
.chatbiline ul li .liin{border-bottom:1px solid #EDEEF0;display:flex;justify-content:space-between;align-items:center;height:58px;}
.chatbiline ul li .ld{display:flex;justify-content:flex-start;align-items:center;margin-right:10px;}
.chatbiline ul li .ld span{color:#323232;white-space:nowrap;}
.chatbiline ul li .rd{display:flex;justify-content:flex-end;align-items:center;color:#909090;}
.chatbiline ul li .limg{width:20px;height:20px;margin-right:10px;}
.chatbiline ul li img{vertical-align:initial;}
.chatbiline ul li .rd img{margin-left:10px;}
.chatbiline ul li .rd span{word-break:break-all;}
#chat .mtab .chatname{width:40px;height:40px;line-height:40px;font-size:24px;font-family:PingFangSC-Semibold,Arial,"微软雅黑";color:#323232;background:#EFEFEF;text-align:center;border-radius:50%;margin-right:15px;}
.chatremovep{display: none;position:absolute;right:0;top:0;background:#D45757;font-size:16px;font-family:PingFangSC-Medium,Arial,"微软雅黑";font-weight:500;color:#fff;padding:0 24px;height:58px;line-height: 58px;}
.mtab .correspondentlist_badge{position: absolute;right: auto;left: 42px;padding: 0;width: 11px;height: 11px;font-size: 0;top: 12px;}
/*correspondentDevices   end*/

/*chat-requiestpayment   end*/
.modal-content.chatmodal{top:0;z-index:1006;}
.chatbiline ul li .rd .chatsetinfo img{margin-left:8px;width:19px;vertical-align:sub;}
.chatbiline ul li .rd .chatsetinfo .chatinfoname{font-size:14px;font-family:PingFangSC-Medium,Arial,"微软雅黑";font-weight:500;color:#323232;}
.chatbiline ul li .rd .chatsetinfo .chatinfomon{font-size:10px;font-family:PingFangSC-Medium,Arial,"微软雅黑";font-weight:500;color:#999999;}
/*chat-requiestpayment    end*/

/*editCorrespondentDevice    start*/
.chatdeleter{text-align:center;padding:0 25px 22px;border-bottom:1px solid #F5F5F5;}
.chatdeleter img{margin-bottom:18px;width:35px;}
/*editCorrespondentDevice    end*/


/*menu-item    start*/
.menuimg{width:27px;height:24px;text-align: center;margin:0 auto;}
.menuimg img{height:20px;}
/*menu-item    end*/