/*disclaimer start*/
.content .adtitle{background:#3B3B3B;text-align:center;}
.content .adtitle:first-child{font-size:13px;color:#9697A3;padding-top:16px;}
.content .adtitle .subtitle{font-size:19px;color:#fff;padding-bottom:16px;}
.content .adulli{height:calc(100vh - 180px);overflow-y:scroll;background-color:#fff;box-shadow:0px 0px 4px 0px rgba(0,0,0,0.12);border-radius:7px 7px 0px 0px;}
.content .adulli ul{padding:24px 15px 42px 30px;list-style:none;margin-bottom:0;margin-left:0;}
.content .adulli ul li{color:#3B3B3B;font-size:13px;position:relative;}
.content .adulli ul li:before{display:block;content:'';width:6px;height:6px;border-radius:50%;background:#D8D8D8;position:absolute;left:-12px;top:6px;}
/*disclaimer end*/

/*addwallet start*/
.addwcontent{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;overflow:auto;box-sizing:border-box;box-shadow:0px 0px 5px 0px rgba(153,153,153,0.12);border-radius:3px 3px 0px 0px;}
.addwcontentin{padding:30px 15px 20px;}
.addwcontentin .warnbigimg{display:block;margin:0 auto 32px;}
/*addwallet part start*/
.addwcontentin .fleximgtext{margin-bottom:12px;}
.addwcontentin .fleximgtext:nth-child(2){margin-bottom:36px;}
/*addwallet part end*/
/*showcode part start*/
.addwscbox{background:#F9FAFC;border-radius:3px;border:1px solid #D6D6D6;padding:12px 12px 20px;}
.addwscbox:after{display:block;overflow:hidden;clear:both;content:'';}
.addwscbox span{margin-right:4px;float:left;font-size:12px;}
/*showcode part end*/
/*selectcode part start*/
.addwslcbox{border-radius:3px;border:1px solid #D6D6D6;padding:12px 4px 4px 12px;height:68px;}
.addwslcbox:after{display:block;overflow:hidden;clear:both;content:'';}
.addwslcbox span{margin-right:8px;margin-bottom:8px;float:left;font-size:12px;}
.wordsbox{display:flex;justify-content:space-between;flex-wrap:wrap;}
.wordsbox button{font-size:12px;border-radius:3px;border:1px solid #D6D6D6;background:#fff;display:block;width:23%;text-align:center;cursor:pointer;margin-bottom:12px;height:30px;line-height:30px;color:#323232;text-transform:lowercase;}
.wordsbox button:disabled{background:#D6D6D6;border:1px solid #D6D6D6;}
.wordsbox button:hover{background:#fff;border:1px solid #D6D6D6;}
/*selectcode part end*/
/*addwallet end*/

/*walletHome-home-part start*/
#walletHome .opensidebara{
    position: absolute;
    right:4px;
    top:0;
    color:#fff;

}
.whlinfo{
    display: flex;
    justify-content: center;
    align-items:center;
}
.whlinfo span{
    color:#8CF8D8;
}
.whlinfo .whlogo{
    width:15px;
    height:15px;
    margin-right: 20px;
    flex-shrink:0;
}
.whlinfo .whname{
    font-family: "pfbold";
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}
.whlinfo .whpback{
    padding:0 8px;
    border:1px solid #8CF8D8;
    border-radius: 18px;
    font-size:10px;
    margin-right: 20px;
    flex-shrink: 0;
}
.whlinfo .whewm{
    width:15px;
    height:15px;
    margin-right: 0;
    flex-shrink:0;
}
.whamount{
    margin-top: 20px;
    font-size: 20px;
    font-weight:bold;
}
.whamount div{
    font-weight: 600;
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*walletHome-home-part end*/

/*walletHome-wallet-part start*/
.adwwto{padding:0 15px;}
.adwwt{padding:5px;border:1px solid #c7c7c7;border-radius:3px;margin-top:15px;}
.adwwt .adwwtflex{display:flex;justify-content:space-between;cursor:pointer;}
.adwwt .adwwtflex .adwwt100{width:100%;margin-left:6px;}
.adwwt .adwwtflex .adwwt100 .adwwtname{font-size:14px;color:#3B3B3B;}
.adwwt .adwwtflex .adwwt100 .adwwtaddr{font-size:12px;color:#c7c7c7;}
.adwwt .adwwtnum{text-align:right;font-size:20px;color:#3B3B3B;border-top:1px solid #c7c7c7;}
.adwwt .adwwtnum span{font-size:12px;color:#c7c7c7;margin-left:10px;}
/*walletHome-wallet-part end*/

/*walletname start*/
.adwnnumo{padding:15px;}
.adwnnum{border:1px solid #c7c7c7;padding:15px;text-align:center;margin-bottom:20px;}
.adwnnum b{font-size:22px;color:#3B3B3B;display:block;}
.adwnnum p{font-size:12px;color:#c7c7c7;display:block;}
.adwnlinput label{font-size:12px;text-align:left;color:#3B3B3B;}
.adwnlinput input{border:none;margin:0;padding:0;border-bottom:2px solid #c7c7c7;font-size:22px;color:#c7c7c7;}
/*walletname end*/

/*changewalletp start*/
/*changewalletp end*/

/*公共样式*/
.awbtn{background-color:#FFFFFF;border:1px solid #3B3B3B;color:#3B3B3B;}
.awbtn:hover{border:none;}
.awbtn50{float:right;font-size:14px;width:49%;height:46px;line-height:46px;padding:0;background-color:#FFFFFF;border:1px solid #3B3B3B;color:#3B3B3B;border-radius:3px!important;margin:0;}
.abbtn50{float:left;font-size:14px;width:49%;height:46px;line-height:46px;padding:0;background-color:#3B3B3B;color:#fff;border-radius:3px!important;margin:0;}
.adbg{background:#3B3B3B;}
.f9fafch{background:#F9FAFC;height:20px;width:100%;}
.redcolor{color:#D45757;}
.popconfirm{position:fixed;width:100%;height:100%;top:0;left:0;z-index:100;}
.popconfirm .popmask{position:absolute;width:100%;height:100%;text-align:center;top:0;left:0;background:rgba(0,0,0,0.3);z-index:100;cursor:pointer;}
.popconfirm .popcontent{position:absolute;width:calc(100% - 26px);top:50%;left:50%;transform:translate(-50%,-50%);background:#fff;padding:32px 0 48px;box-sizing:border-box;z-index:101;}
.popconfirm .poptips{font-size:12px;color:#646464;padding-top:20px;border-top:1px solid #F5F5F5;margin-bottom:32px;}
.popconfirm .popbutton{display:flex;justify-content:space-between;align-items:center;}
.popconfirm .popbutton button{width:49%;}
::-webkit-scrollbar{width:6px;height:6px;}
/* 滚动槽 */
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px #fff;border-radius:10px;}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb{border-radius:10px;background:#c5c5c5;}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(255,0,0,0.4);}
.adcpitem{margin-top:30px;height:60px;}
.adcpmdic{position:relative;width:100%;height:100%;}
.adcpmdic input[type='text']{position:absolute;font-size:16px;top:10px;padding:0;font-weight:normal;margin:0;width:100%;}
.adcpmdic label{position:absolute;font-size:16px;top:10px;padding:0;font-weight:normal;margin:0;white-space:nowrap;}
.md-input-focused{position:relative;height:100px;transition:all 0.2s ease-in-out;}
.md-input-focused label,
.md-input-has-value label{top:-10px;font-size:14px;transition:all 0.2s ease-in-out;}
.md-input-focused input[type='text']{background:blue;position:absolute;top:10px;transition:all 0.2s ease-in-out;}
.adinputitem{height:50px;}
.adinputic{position:relative;width:100%;height:100%;}
.adinputic .adinputimg{width:22px;height:20px;text-align:center;position:absolute;top:10px;left:4px;}
.adinputic .adinputimg img{vertical-align:top;}
.adinputic input[type='text']{position:absolute;font-size:16px;top:0;padding:0 10px 0 44px;font-weight:normal;margin:0;width:100%;color:#3B3B3B;}
.adinputic input[type='text']::-webkit-input-placeholder{color:#B8B8B8;}
.fleximgtext{display:flex;justify-content:flex-start;align-items:flex-start;}
.fleximgtext img{flex-shrink:0;margin-right:10px;height:12px;width:12px;margin-top:3px;}
.fleximgtextc{display:flex;justify-content:center;align-items:flex-start;}
.fleximgtextc img{flex-shrink:0;margin-right:22px;height:24px;width:24px;}
/*公共样式 end*/

/*重写foundation  css start*/
.left-off-canvas-menu{left:auto;right:0;-webkit-transform:translate3d(100%,0,0);-moz-transform:translate3d(100%,0,0);-ms-transform:translate(100%,0);-o-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);}
.move-right > .inner-wrap{-webkit-transform:translate3d(-15.625rem,0,0);-moz-transform:translate3d(-15.625rem,0,0);-ms-transform:translate(-15.625rem,0);-o-transform:translate3d(-15.625rem,0,0);transform:translate3d(-15.625rem,0,0);}
/*重写foundation  css end*/

























