.newsinc{
    padding: 0 15px;
    box-sizing:border-box;
    padding-top:66px;
}


.newsinc .title{
    font-size:20px;
    font-family:pfbold;
    font-weight:600;
    color:rgba(50,50,50,1);
    line-height:28px;
}

.newsinc p {
    font-size: 13px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
    line-height: 22px;
    margin-top: 20px;
}

.newsinc img{
    width:100%;
}